@charset "utf-8";

/**24.apr.18**/
@font-face {
    font-family: 'BankGothic Lt BT';
    src: url('../fonts/BankGothicBT-Light.eot');
    src: url('../fonts/BankGothicBT-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BankGothicBT-Light.woff2') format('woff2'),
        url('../fonts/BankGothicBT-Light.woff') format('woff'),
        url('../fonts/BankGothicBT-Light.ttf') format('truetype'),
        url('../fonts/BankGothicBT-Light.svg#BankGothicBT-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BankGothic Md BT';
    src: url('../fonts/BankGothicBT-Medium.eot');
    src: url('../fonts/BankGothicBT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BankGothicBT-Medium.woff2') format('woff2'),
        url('../fonts/BankGothicBT-Medium.woff') format('woff'),
        url('../fonts/BankGothicBT-Medium.ttf') format('truetype'),
        url('../fonts/BankGothicBT-Medium.svg#BankGothicBT-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'W Sans New Book';
    src: url('../fonts/WSansNew-BookItalic.eot');
    src: url('../fonts/WSansNew-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WSansNew-BookItalic.woff2') format('woff2'),
        url('../fonts/WSansNew-BookItalic.woff') format('woff'),
        url('../fonts/WSansNew-BookItalic.ttf') format('truetype'),
        url('../fonts/WSansNew-BookItalic.svg#WSansNew-BookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'W Sans New Bold';
    src: url('../fonts/WSansNew-Bold.eot');
    src: url('../fonts/WSansNew-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WSansNew-Bold.woff2') format('woff2'),
        url('../fonts/WSansNew-Bold.woff') format('woff'),
        url('../fonts/WSansNew-Bold.ttf') format('truetype'),
        url('../fonts/WSansNew-Bold.svg#WSansNew-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'W Sans New Light';
    src: url('../fonts/WSansNew-LightItalic.eot');
    src: url('../fonts/WSansNew-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WSansNew-LightItalic.woff2') format('woff2'),
        url('../fonts/WSansNew-LightItalic.woff') format('woff'),
        url('../fonts/WSansNew-LightItalic.ttf') format('truetype'),
        url('../fonts/WSansNew-LightItalic.svg#WSansNew-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'W Sans New';
    src: url('../fonts/WSansNew-Light.eot');
    src: url('../fonts/WSansNew-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WSansNew-Light.woff2') format('woff2'),
        url('../fonts/WSansNew-Light.woff') format('woff'),
        url('../fonts/WSansNew-Light.ttf') format('truetype'),
        url('../fonts/WSansNew-Light.svg#WSansNew-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'W Sans New Book';
    src: url('../fonts/WSansNew-Book.eot');
    src: url('../fonts/WSansNew-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WSansNew-Book.woff2') format('woff2'),
        url('../fonts/WSansNew-Book.woff') format('woff'),
        url('../fonts/WSansNew-Book.ttf') format('truetype'),
        url('../fonts/WSansNew-Book.svg#WSansNew-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'W Sans New Bold Italic';
    src: url('../fonts/WSansNew-BoldItalic.eot');
    src: url('../fonts/WSansNew-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WSansNew-BoldItalic.woff2') format('woff2'),
        url('../fonts/WSansNew-BoldItalic.woff') format('woff'),
        url('../fonts/WSansNew-BoldItalic.ttf') format('truetype'),
        url('../fonts/WSansNew-BoldItalic.svg#WSansNew-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MaterialIcons-Regular.eot');
  src: url('../fonts/MaterialIcons-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MaterialIcons-Regular.woff2') format('woff2'),
        url('../fonts/MaterialIcons-Regular.woff') format('woff'),
        url('../fonts/MaterialIcons-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans.woff') format('woff'),
        url('../fonts/OpenSans.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans-Semibold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/OpenSans-Semibold.eot');
  src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Semibold.woff2') format('woff2'),
        url('../fonts/OpenSans-Semibold.woff') format('woff'),
        url('../fonts/OpenSans-Semibold.ttf') format('truetype');
}



body, html { overflow-x:hidden; }

a { outline:none !important;  }
.head_top_section {  background: #fff url(../images/headbg.png) no-repeat center; padding:91px 0px; text-align:center;  }
.head_top_section1 {  background: #fff url(../images/headbg1.png) no-repeat center; }
.head_top_section .head_content h2 {  font-family: 'BankGothic Lt BT'; font-size:50px; font-weight:300; color:#fff; }
.head_top_section .head_content h5 {      font-family: 'W Sans New'; font-size:18px; font-weight:300;  color:#fa5237; text-transform:uppercase; padding-top:15px; }
#banner {      font-family: 'W Sans New'; font-size:18px; font-weight:300;  color:#fa5237; text-transform:uppercase; padding-top:15px; }
.Login_content { width:340px; margin:0 auto; padding:40px 0px; text-align:center; }
.Login_content  h5 {    font-family: 'W Sans New Book'; font-size:14px; font-weight: 300; color:#666666; padding-bottom:15px; }
.Login_content  h3 {    font-family: 'W Sans New Book'; font-size:30px; font-weight: 300; color:#333333; padding-bottom:15px; }
.Login_content  .social_icons li  a {    font-family: 'W Sans New Book'; font-size:30px; font-weight: 300; color:#333333; padding-bottom:15px; }
.Login_content  .social_icons li  a .fa-facebook { color:#3b5998; }
.Login_content  .social_icons li  a .fa-twitter { color:#03a9f4; }
.Login_content  .social_icons li  a .fa-google-plus { color:#dc4e41; }
.Login_content  .social_icons li  a .fa-linkedin { color:#0077b5; }
.Login_content  .social_icons li  a .fa-pinterest-p { color:#c8232c; }
.Login_content  .social_icons li { list-style-type:none; display:inline-block;     padding: 0px 19px 20px 19px; }
.Login_content .or  {    font-family: 'W Sans New Book'; font-size:14px; font-weight: 300; color:#000; padding-bottom:15px; }
.Login_content .form-group .form-control { height:40px; border-radius:0px; }
.btn.login_btn {   font-family: 'W Sans New Bold'; font-size:16px; font-weight: bold; color:#fff; text-transform:uppercase; background:#fa5237; border-radius:25px; padding:10px 45px 8px 45px;     letter-spacing: 1px; }
.forget_btn {    font-family: 'W Sans New Book'; font-size:14px; font-weight: 300; color:#666666; padding:10px 0px; text-align:right;  }
.btn.creat_btn {    font-family: 'W Sans New Book'; font-size:18px; font-weight: 300; color:#00264a; padding:10px 0px; text-align:left;    display: block;
    float: left; }
.pull_left { float:left; width:100%; }
.Address_content { padding:40px 0px; }
.Address_content h3 { font-family: 'BankGothic Lt BT'; font-size:24px;  color:#00264a; text-transform:uppercase; text-align:center; padding-bottom:40px; }
.Address_title h5 {     font-family: 'W Sans New Bold'; font-size:16px;  color:#00264a; text-transform:capitalize; text-align:left; padding-bottom:15px; letter-spacing:0.5px; }
.Address_title p {     font-family: 'W Sans New Book';  font-size:14px;  color:#666666; text-transform:capitalize; text-align:left; padding-bottom:20px; line-height:24px; }
.Address_title a {    font-family: 'W Sans New Bold';  font-size:14px;  color:#00264a; text-transform:capitalize; text-align:left; padding:15px 30px; display:inline-block; }
.Address_title .pencil_img  { float:right;  }
.Address_title .address_inside { padding:0px 30px; border-bottom:1px solid #ddd; }
.Address_content .Address_title.Address_title_top { float:none; margin: 0 auto; }
.Address_content .btn.setas_default {     font-family: 'W Sans New Bold'; font-size:12px;  color:#fa5237; text-transform:none !Important; float:right; text-align:right; padding:15px 30px; display:block; }
.Address_content .addnew_address { padding:0px 0px 35px 0px; font-family: 'BankGothic Lt BT'; font-size:20px; color:#fa5237; display:block; text-align:right; box-shadow:none; outline:none; }
.Address_title { padding-bottom:40px; }
.Address_content .addnew_address:focus, .Address_content .addnew_address:hover { text-decoration:none;  }
.Cart_content .cart_product p  {    font-family: 'W Sans New Book'; font-size:14px; font-weight: 300; color:#333333; padding:30px 5px; text-align:left; display:inline-block; }
.Cart_content .cart_product .cart_1img { display:inline-block; }
.padding_none { padding:0px !Important; }
.Cart_content  .cart_title {     font-family: 'BankGothic Lt BT';
    font-size: 18px;
    font-weight: 300;
    color: #00264a;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px; }
.Cart_content  .cart_title.cart_title1 { font-size:24px; border:0px; }
.Cart_content { padding:40px 0px; }
.price_cart { display:inline-block; float:left; width:33%; text-align:center; }
.quantity_cart { display:inline-block; float:left; width:33%; text-align:center; }
.total_cart { display:inline-block; float:left; width:33%; text-align:center; }
.count-input.space-bottom .quantity { width:60px; float:left; text-align:center; border:1px solid #ccc; height: 28px; color:#999; }
.count-input.space-bottom  .incr-btn  {width: 30px; float:left;
    border: 1px solid #ccc;
    display: inline-block;
    height: 28px;
    position: relative;
    left: 1px;
    color: #999;
    text-align: center; }
.count-input.space-bottom  .incr-btn.decr-btn  { position: relative; left: auto;  right: 1px;  color:#999; }
.price_cart_all .cart_rup { font-family: 'W Sans New';  font-size:18px; color:#fa5237; }
.content_details .cart_rup { font-family: 'W Sans New';  font-size:18px; color:#fa5237; font-weight:600; padding:9px 0px; }
.quantity_cart p {  font-family: 'W Sans New Book'; font-size:14px; font-weight: 300; color:#666666;     margin-top: 10px;
    display: block;
    float: left;
    width: 100%;
 }
.price_cart_all .common_cart_hegt { margin-bottom:20px; }
.cart_totals .subtotal_cont {       font-family: 'W Sans New'; font-size:14px; color:#00264a; text-transform:uppercase; padding:13px 0px; border-bottom:1px solid #ddd; }
.cart_totals .subtotal_cont  .cart_rup {  font-size:18px; color:#fa5237; float:right; }
.cart_totals .subtotal_cont  .cart_free {  text-transform:capitalize; float:right; font-size:12px; }
.cart_totals .cart_Total {     font-family: 'W Sans New'; font-size:14px; font-weight: 300; color:#666666; text-transform:uppercase; padding:25px 0px; font-weight:600; }
.cart_totals .cart_Total .cart_rup {  font-size:18px; color:#fa5237; float:right;  }
.login_btn.proceed_btn { font-family: 'W Sans New Book'; margin-right: 15px; font-size:14px;     padding: 10px 20px; text-transform:capitalize; }
.subtotal_cont.subtotal_cont1 { padding-bottom:40px; padding-top:25px; }
.total_cart .trash_img { text-align:right; float:right; }
.cart_totals { float:left; width:100%; -webkit-box-shadow: 3px 6px 5px -2px rgba(0,0,0,0.11);
-moz-box-shadow: 3px 6px 5px -2px rgba(0,0,0,0.11);
box-shadow: 3px 6px 5px -2px rgba(0,0,0,0.11);     padding: 0px 10px 20px 10px; }
/* .checkout_right input[type="radio"] {
    display:block;
} */
.Checkout_content  { padding:40px 0px; }
.Checkout_content  .checkout_title {     font-family: 'BankGothic Lt BT';  font-size: 24px; font-weight: 300; color: #00264a; text-transform: uppercase; padding-bottom:40px; }
.Checkout_content  .form-group label {   font-family: 'W Sans New'; font-size:12px; display:block; padding-bottom:3px;  }
.Checkout_content  .form-group label sup { color:red; font-size:14px; position:relative; top:2px; }
.Checkout_content .checkout_left .form-group { margin-bottom:20px;  }
.Checkout_content .checkout_left .form-group .form-control { height:48px;  }
.Checkout_content .checkout_left .form-inline .form-group { width:50%; float:left; }
.Checkout_content .checkout_left .form-inline .form-group .form-control { width:95%; float:left; }
.Checkout_content .checkout_left .form-inline .form-group.form-group-second .form-control { width:95%; float:right; }
.Checkout_content .checkout_left .form-inline .form-group.form-group-second label { margin-left:20px; }
.common_center { text-align:center; }
.subtotal_cont .prod_total { float:right; }
.subtotal_cont.subtotal_cont2 { color:#333333; }
.subtotal_cont.subtotal_cont2  .cart_rup { font-size:14px; }
.Checkout_content .checkout_right  .cart_totals .cart_Total { padding:15px 0px; }
.Checkout_content .checkout_right  .cart_totals { box-shadow:none;     padding-bottom: 0px;  border-bottom: 1px solid #ddd; }
.form-control.form-control-second { margin-bottom:15px; }
.checkout_title.pay_title { padding-top:40px; }
.checkout_right .radio label  { font-family: 'W Sans New Book'; font-size:14px; display:block; padding-left:40px; line-height:30px;  }
.checkout_right .radio label input[type="radio"] { position:relative; right:10px; top:1px; -webkit-appearance: radio !important; }

.thankyou_section { padding:40px 0px;  }
.thankyou_section h2 {   font-family: 'W Sans New Bold'; font-size:36px; color:#00264a; padding:30px 0px; }
.thankyou_section h5 {   font-family: 'W Sans New Book'; font-size:18px; color:#666666; line-height:24px; padding-bottom:20px; }
.thankyou_section h6 {   font-family: 'W Sans New Book'; font-size:14px; color:#666666; line-height:24px; text-transform:uppercase; background:#efefef; display:inline-block; padding:1px 7px; border-radius:20px; margin-bottom:20px; }
.thankyou_section .right_img { padding-top:30px; }
.product_details_section { padding:40px 0px; }
.crabs_right .crabs_title {   font-family: 'BankGothic Md BT'; font-size: 24px; font-weight: 300; color: #00264a; text-transform: uppercase; padding-bottom:40px; } 
.carbs_totals .carbs_whole {  font-family: 'BankGothic Lt BT';  font-size: 18px; font-weight: 300;  text-transform: uppercase; background: #fa5237;  display: inline-block;  color: #fff;  padding: 12px 12px;  border-radius: 15px; text-align:center; line-height:21px; width:114px; margin-right:15px; }
.carbs_totals .carbs_cleaned { font-family: 'BankGothic Lt BT';  font-size: 18px; font-weight: 300; text-transform: uppercase; background: #00264a;  display: inline-block;  color: #fff;  padding: 12px 12px;  border-radius: 15px; text-align:center; line-height:21px; width:114px; }
.carbs_totals .carbs_whole .cart_rup { display:block; }
.carbs_totals .carbs_cleaned .cart_rup { display:block; }
.carbs_totals1 { height:100px; }
.details_cont h5 {  font-family: 'W Sans New'; font-size:14px; color:#666666; line-height:24px;  }
.details_skucont h5 {  font-family: 'W Sans New'; font-size:14px; color:#666666; line-height:24px;  }
.details_skucont h5 span  {  font-family: 'W Sans New Bold'; font-size:14px; color:#fa5237; line-height:24px;  }
.details_skucont { display:block; padding:15px 0px; }
.details_quantity span {  font-family: 'W Sans New Book'; font-size:18px; color:#00264a; line-height:24px; display:inline-block;  }
.details_quantity .count-input.space-bottom { display:inline-block; position:relative; top:10px; }
.details_quantity p { display:inline-block; }
.details_quantity1 { height:80px; }
div#msg { padding-top: 5px; }
.count-input.space-bottom {
    display: block;
    float: none;
    width: 122px;
    text-align: center;
    margin: 0 auto;
}
.details_type span {  font-family: 'W Sans New Book'; font-size:18px; color:#00264a; line-height:24px; display:inline-block; }
.details_type .dropdown-toggle {  font-family: 'W Sans New Book'; font-size:18px; color:#666666; line-height:24px; display:inline-block;  background: transparent;  box-shadow: none;    border: 0px; }
.details_type, .details_quant, .details_type .dropdown, .view_cart { display:inline-block; }
.details_type { padding-left:50px; }
.login_btn.add_tocart_btn { font-family: 'W Sans New Book'; font-size:16px; display:inline-block; padding:10px 20px; }
.view_cart_btn1 { padding-bottom:30px; }
.view_cart  { color:#fa5237; font-family: 'W Sans New'; font-size:14px; }
.continue_cart  { color:#00264a; font-family: 'W Sans New'; font-size:14px; }
#horizontalTab ul li {  font-family: 'BankGothic Md BT'; font-size: 24px; font-weight: 300; color: #666666;  text-transform: uppercase; border:0px;     padding: 5px 0px 5px 0px !important; margin-right:20px; } 
#horizontalTab ul li.resp-tab-active {  border-bottom:5px solid #00264a; color: #00264a; } 
#horizontalTab .resp-tab-content.resp-tab-content-active { border:0px; } 
.crabs_right .crabs_title_related { border-bottom:1px solid #00264a; padding-bottom:10px; padding-top:50px; }
#owl_carousel_product .owl-dots   { display:none; }
#owl_carousel_product { position:relative; }
#owl_carousel_product .owl-prev   { position: absolute;
    top: 50%;
    left: 0px;
    color: #fff;
    font-size: 30px;
    border: 1px solid #fa5237;
    background: #fa5237a6;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center; }
#owl_carousel_product .owl-next   { position: absolute;
    top: 50%;
    right: 0px;
    color: #fff;
    font-size: 30px;
    border: 1px solid #fa5237;
    background: #fa5237a6;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center; }
#owl_carousel_product .owl-prev  span { position:relative; bottom:10px;  }
#owl_carousel_product .owl-next  span { position:relative; bottom:10px;  }
#owl_carousel_product .owl-nav { display:none; }
.related_prod h4 { font-family: 'W Sans New Book'; font-size:18px; color: #00264a; text-align:center; padding-bottom:15px; }
.related_prod h5 { font-family: 'W Sans New Book'; font-size:14px; color: #666666; text-align:center; padding-bottom:15px; }
.related_prod h2 {  font-family: 'W Sans New'; font-size: 18px;  color: #fa5237;  text-align:center; padding-bottom:15px; }
#gal1 { float:left; width:100px; }
#gal1 a img{ float:left; width:100px; }
#gal1  #zoom_03 { max-width:100%;  }
#gal1  a { min-height:100px; display:inline-block;  }
.owl_prod_img { margin:20px 0px; }
#owl_carousel_product:hover .owl-nav { display:block; }
.Login_content .form-group {  margin-bottom:20px; }
.Login_content .form-inline .form-group { float:left; width:50%; margin-bottom:20px; }
.Login_content .form-inline .form-group .form-control { width:95%; float:left; }
.Login_content .form-inline .form-group.form-group-second .form-control { width:95%; float:right; }
.Product_page .related_prod img { max-width:100%; }
.resp-tabs-container .resp-accordion { font-family: 'BankGothic Md BT';
    font-size: 24px;
    font-weight: 300;
    color: #00264a;
    text-transform: uppercase;
}
.resp-tabs-container .resp-accordion.resp-tab-active { background:#fa5237 !important; color:#fff; border:0px; }
#horizontalTab  .resp-tab-content.resp-tab-content-active { border-top:2px solid #666666; }
h2.resp-tab-active span.resp-arrow:before { font-family: fontawesome;  content: '\f068';  color: #fff; font-size: 15px; position:relative; right:10px; }
.resp-accordion .resp-arrow, h2.resp-tab-active span.resp-arrow { border:0px !important;  }
.resp-accordion .resp-arrow:before { font-family: fontawesome;  content: '\f067';  color: #00264a; font-size: 15px;  position:relative; right:10px; }
.details_quant a .fa { font-family: fontawesome; font-size:12px; color:#666666; }
.count-input.space-bottom a .fa { font-family: fontawesome; font-size:12px; color:#666666; }
.content_details  {  width:100%;     border-bottom: 1px solid #ddd; }
.content_details  .subtotal_cont.subtotal_cont2 {  width:70%; border-bottom:0px; }
.zoom_img_view { max-width:100%; position:relative !important; }
.prod_table { display:table; min-height:380px; }
.prod_table_cell { display:table-cell; vertical-align:middle; }
/**8.may**/
.owl_prod_img {
    max-width: 260px !important;
    margin: 0 auto !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
	text-align:center !important;
	min-height:200px !Important;
	display:table;	
}
.owl_prod_img_table { display:table-cell; vertical-align:middle; }
#gal1  .bx-wrapper  { box-shadow:none; }
#gal1  .bx-wrapper .bx-controls-direction a { text-indent:inherit !Important; text-align:center; }
#gal1 .bx-wrapper .bx-prev { top:0;  text-indent: inherit !Important;
    text-align: center;
    left: 0;
    margin-top: -65px; -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);  }
#gal1 .bx-wrapper .bx-next { bottom:-60px; left:0px; top:auto;   -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
	
#gal1 .bx-wrapper  .fa-angle-left { width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    color: #000;
    background: #ddd;
    border-radius: 4px;
    font-size: 24px;
    padding-top: 0px;
    display: inline-block;
    position: relative; }
#gal1 .bx-wrapper  .fa-angle-right { width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    color: #000;
    background: #ddd;
    border-radius: 4px;
    font-size: 24px;
    padding-top: 0px;
    display: inline-block;
    position: relative; }	
#horizontalTab ul li { margin-right:0px;  padding: 10px !important; }	
#horizontalTab .resp-tabs-container .resp-tab-content { padding:40px 20px; }	
.prod_table_cell .zoomWrapper div { opacity:0; z-index:0 !Important; display:none; }	
#owl_carousel_product .owl-prev { outline:none; }	
#owl_carousel_product .owl-next { outline:none; }	
/**10.may**/
#horizontalTab .resp-tabs-container { background:transparent; }
#horizontalTab ul li.resp-tab-active { background:transparent; }
#owl_carousel_product .owl-next   {     background: #fa5237a6 !important; }
#owl_carousel_product .owl-prev   {     background: #fa5237a6 !important; }	
.price_cart_all { position:relative; z-index:99; }	
.profile_content { max-width:600px; margin:0 auto; background:#ddd; padding:15px 15px; margin-bottom:40px; border-radius:15px; }
.profile_content  .radio_inline  { font-family: 'W Sans New';
    font-size: 12px;
    display: block;
    padding-bottom: 3px; color:#000;   font-weight: 600;
    padding-top: 10px;
    position: relative;
    display: inline-block !important;
    height: 50px; } 

    .profile_content  .radio_inline  input {     position: relative;  top: 2px;  margin-right: 5px; }
    .Checkout_content.profile_content .checkout_left .form-inline .form-group.form-group-second label {
    margin-left: 15px;
}
.head_top_section .profile_img  {  max-width: 165px; max-height:165px; margin: 0 auto; }
.head_top_section .profile_img  .profile_picture { border-radius: 50%;
    border: 8px solid #ccc;
    max-width: 100%;
    object-fit: contain;
    height: 165px;
    width: 165px;
    background: #ddd; overflow:hidden; }
.image_upload > input {  display: none !important; }	
.image_upload { position:relative; display:inline-block; }	
.image_upload 	h4 { font-size: 21px;
    font-family: 'BankGothic Lt BT';
    font-weight: 300;
    color: #fff;
    position: relative;
    top: 0%;
    left: 0;
    right: 0;
    text-align: center;
    background: #999;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    padding: 10px; border-radius:10px;  }
.upload_after	{ display: inline-block;  margin-left: 20px;  max-width: 150px; }
.upload_after .profile_imgg {
    max-width: 100%;
    border: 5px solid #fff;
    border-radius: 10px;
    .image_upload label  h4  { max-width:50px; }
    .image_upload label  h4  img { max-width:100%; }
}
/**14.may**/
.btn { outline:none !important; }
#gal1  .bx-viewport {  height: 381px !important; }
.price_cart_all_bot { margin-top:20px; }	
.cart_bottom { border-bottom:1px solid #ddd; display: inline-block;
    padding-bottom: 7px !important;
    padding-top: 7px !important; }		
	
.md_block { display:block; }
.md_none { display:none; }
/**16.may**/ 
#owl_carousel_homepage .owl-dots   { display:none; }
#owl_carousel_homepage { position:relative; }
#owl_carousel_homepage .owl-prev   { position: absolute;
    top: 50%;
    left: 0px;
    color: #fff;
    font-size: 30px;
    border: 1px solid #fa5237;
    background: #fa5237a6;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center; }
#owl_carousel_homepage .owl-next   { position: absolute;
    top: 50%;
    right: 0px;
    color: #fff;
    font-size: 30px;
    border: 1px solid #fa5237;
    background: #fa5237a6;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center; }
#owl_carousel_homepage .owl-prev  span { position:relative; bottom:10px;  }
#owl_carousel_homepage .owl-next  span { position:relative; bottom:10px;  }
#owl_carousel_homepage .owl-prev { outline:none; }	
#owl_carousel_homepage .owl-next { outline:none; }	
#owl_carousel_homepage .owl-next   { opacity:0;    background: #fa5237a6 !important; -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
#owl_carousel_homepage .owl-prev   { opacity:0;    background: #fa5237a6 !important; -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }		
#owl_carousel_homepage .owl-item img { width:auto !Important; }
#owl_carousel_homepage:hover   .owl-prev   { opacity:1; } 
#owl_carousel_homepage:hover   .owl-next   { opacity:1; } 
/**17.may**/
.carbs_totals .carbs_whole { position:relative;  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;   background: #00264a; }	
.carbs_totals .carbs_whole 	#price { width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    display: inline-block;
    opacity: 0;  cursor:pointer; }
.carbs_totals .carbs_cleaned { position:relative; -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; cursor:pointer; }	
.carbs_totals .carbs_cleaned 	#price { width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    display: inline-block;
    opacity: 0;  cursor:pointer; }    
.carbs_totals    .carbs_whole.add {     background: #fa5237;  }
.carbs_totals    .carbs_cleaned.add1 {     background: #fa5237; }
.carbs_totals .carbs_whole:hover {     background: #fa5237; }	
.carbs_totals .carbs_cleaned:hover {     background: #fa5237; }	
/**12.june**/
.ui-widget.ui-widget-content { max-height:250px !important; min-height:auto !important; height:auto !Important;  }
.ui-menu .ui-menu-item  { padding:0px !Important; border:1px solid #ddd !Important; }
.ui-menu .ui-menu-item.ui-state-focus  { background:#fff !important; border:1px solid #ddd !Important; }
	
@keyframes come-in {
  to { transform: translateY(0); }
}	
	
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    z-index: 9999999;
    display: block;
    text-align: center;
    opacity: 1;
	
}
.spinner_gif {     background: #fff url(../images/fish.png) no-repeat center;
    -webkit-animation: rotation 2s infinite linear;
    z-index: 99999999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
    right: 0; }
@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
	
@-moz-document url-prefix() { 
  .owl_prod_img { height:200px !Important; }
}	
	
@media only screen and (min-width : 992px) and (max-width: 1200px){ 
.count-input.space-bottom .quantity {    width: 36px; }
.login_btn.proceed_btn {    font-size: 12px;   padding: 10px 15px; }
#gal1 { float:none; width:100px; }
#gal1 a img{ float:left; width:100px; }
#gal1  a { min-width:130px;  }
.owl_prod_img { margin:40px 0px; }
.details_type { padding-left:30px; }
/**8.may**/
#gal1 .bx-wrapper .bx-next { left: -50px; }
#gal1 .bx-wrapper .bx-prev { left: -50px; }

}

@media only screen and (max-width:991px) and (min-width:768px){ 
.xs_none { display:none; }	
.xs_block { display:block; }	
.Address_content .Address_title.Address_title_top {   padding: 0px 30px 30px 30px;}
.price_cart_all { float:left; width:100%; } 
.cart_Total_all { float:left; width:100%; } 
.Cart_content .cart_title.cart_title1 {  padding-top: 30px; }
.owl_prod_img { margin:40px 0px; }

}

@media only screen and (max-width:767px){ 	
.xs_none { display:none; }
.xs_block { display:block; }		
.Cart_content .cart_title { font-size:15px; }
.price_cart_all .cart_rup { font-size:15px; }

.padding_xs { padding:0px; }
.Address_content .Address_title.Address_title_top {   padding: 0px 30px 30px 30px;}
.price_cart_all { float:left; width:100%; } 
/* .cart_Total_all { float:left; width:100%; }  */
.Cart_content .cart_title.cart_title1 {  padding-top: 30px; }
#gal1 { float:none; width:100%; }
#gal1 a img{ float:left; width:100px; }
#gal1  a { min-width:130px;  }
.resp-tabs-container {  }
.owl_prod_img { margin:20px 0px; }
.related_prod h4 { font-size:15px; min-height:50px; }
.related_prod h5 { font-size:13px; min-height:50px; }
#horizontalTab   .resp-tab-content.resp-tab-content-active { box-shadow: 0 5px 12px 0 rgb(220, 222, 236); border-top:0px; }
.details_type {
    padding-left: 0px;
    padding-top: 10px;
}
.details_quantity p {
    display: inline-block;
    padding-top: 10px;
}
.crabs_right .crabs_title { font-size:21px; }
.resp-tabs-container .resp-accordion { font-size:21px; }
#gal1 a { min-height:75px; }
#gal1  { text-align:center; }
.prod_table { display:table; min-height:auto; }
/**8.may**/
#horizontalTab .resp-tabs-container .resp-tab-content { padding:20px 20px; }	
#gal1  .bx-wrapper  { max-width:100% !important; }
#gal1 .bx-wrapper .bx-prev { top:auto; bottom:-10px; margin-top:0px; -webkit-transform: rotate(0deg);  -moz-transform: rotate(0deg);  -o-transform: rotate(0deg);  -ms-transform: rotate(0deg); left:-50px; }
#gal1 .bx-wrapper .bx-next { top:auto; bottom:-10px; margin-top:0px; -webkit-transform: rotate(0deg);  -moz-transform: rotate(0deg);  -o-transform: rotate(0deg);  -ms-transform: rotate(0deg); right:-50px; left:auto; }
.zoom_img_view { max-width:100%; z-index:999; }
.owl_prod_img { min-height:150px !Important; }
.related_prod h4 { min-height:auto; }
/**may.10**/
.navigation-agileits { z-index:9999; }	
.navbar-nav .open .dropdown-menu.multi-column  { background:transparent; }
#gal1  .bx-viewport {  height: 100% !important; }
@-moz-document url-prefix() { 
  .owl_prod_img { height:150px !Important; }
}	
#owl_carousel_homepage   .owl-prev   { opacity:1; } 
#owl_carousel_homepage  .owl-next   { opacity:1; } 
.profile_content { margin-bottom:20px; }
}


@media only screen and (max-width:480px){ 	
.profile_content .radio_inline { height:auto; padding-top:0px; }
.Login_content { width:100%; }
.Login_content .social_icons li {  padding: 0px 13px 20px 13px; }
.btn.login_btn {    padding: 10px 35px 8px 35px; }
.forget_btn {  font-size: 13px; }
.Address_content h3 { font-size:20px; }
.Address_title .address_inside {   padding: 0px 0px; }
.Address_title a {   padding: 10px 0px; }
.Address_content .addnew_address {
    padding: 0px 0px 10px 0px;
    font-size: 16px; }
.count-input.space-bottom .quantity {  width: 40px; }
.price_cart { width:32%; }
.quantity_cart { width:35%; }
.total_cart { width:32%;  }
.thankyou_section h2 { font-size:26px; }
.resp-tabs-container .resp-accordion { font-size:18px; }
.crabs_right .crabs_title { font-size:18px; }
#gal1 a { min-width: 90px; }
#gal1 a img {     width: 80px;
    margin: 0 auto;
    text-align: center;
    display: block;
    float: none; }
.carbs_totals .carbs_whole { font-size:15px; width:95px; padding:9px 9px; }
.carbs_totals .carbs_cleaned { font-size:15px; width:95px; padding:9px 9px; }
.content_details .cart_rup { padding:20px 0px; }
/**8.may**/
.prod_table_cell .zoomWrapper { min-height:200px; text-align:center; }
#gal1 .bx-wrapper  { margin-bottom:20px; }

}
.multi-column-dropdown li#li1 {	 	margin : 1px;	 }	 
.dropdown:hover .dropdown-menu.multi-column.columns-3 { display:block; }
