@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: 'BankGothic Lt BT';
    src: url('../fonts/BankGothicBT-Light.eot');
    src: url('../fonts/BankGothicBT-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BankGothicBT-Light.woff2') format('woff2'),
        url('../fonts/BankGothicBT-Light.woff') format('woff'),
        url('../fonts/BankGothicBT-Light.ttf') format('truetype'),
        url('../fonts/BankGothicBT-Light.svg#BankGothicBT-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BankGothic Md BT';
    src: url('../fonts/BankGothicBT-Medium.eot');
    src: url('../fonts/BankGothicBT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BankGothicBT-Medium.woff2') format('woff2'),
        url('../fonts/BankGothicBT-Medium.woff') format('woff'),
        url('../fonts/BankGothicBT-Medium.ttf') format('truetype'),
        url('../fonts/BankGothicBT-Medium.svg#BankGothicBT-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'W Sans New Book';
    src: url('../fonts/WSansNew-BookItalic.eot');
    src: url('../fonts/WSansNew-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WSansNew-BookItalic.woff2') format('woff2'),
        url('../fonts/WSansNew-BookItalic.woff') format('woff'),
        url('../fonts/WSansNew-BookItalic.ttf') format('truetype'),
        url('../fonts/WSansNew-BookItalic.svg#WSansNew-BookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'W Sans New Bold';
    src: url('../fonts/WSansNew-Bold.eot');
    src: url('../fonts/WSansNew-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WSansNew-Bold.woff2') format('woff2'),
        url('../fonts/WSansNew-Bold.woff') format('woff'),
        url('../fonts/WSansNew-Bold.ttf') format('truetype'),
        url('../fonts/WSansNew-Bold.svg#WSansNew-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'W Sans New Light';
    src: url('../fonts/WSansNew-LightItalic.eot');
    src: url('../fonts/WSansNew-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WSansNew-LightItalic.woff2') format('woff2'),
        url('../fonts/WSansNew-LightItalic.woff') format('woff'),
        url('../fonts/WSansNew-LightItalic.ttf') format('truetype'),
        url('../fonts/WSansNew-LightItalic.svg#WSansNew-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'W Sans New';
    src: url('../fonts/WSansNew-Light.eot');
    src: url('../fonts/WSansNew-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WSansNew-Light.woff2') format('woff2'),
        url('../fonts/WSansNew-Light.woff') format('woff'),
        url('../fonts/WSansNew-Light.ttf') format('truetype'),
        url('../fonts/WSansNew-Light.svg#WSansNew-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'W Sans New Book';
    src: url('../fonts/WSansNew-Book.eot');
    src: url('../fonts/WSansNew-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WSansNew-Book.woff2') format('woff2'),
        url('../fonts/WSansNew-Book.woff') format('woff'),
        url('../fonts/WSansNew-Book.ttf') format('truetype'),
        url('../fonts/WSansNew-Book.svg#WSansNew-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'W Sans New Bold Italic';
    src: url('../fonts/WSansNew-BoldItalic.eot');
    src: url('../fonts/WSansNew-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WSansNew-BoldItalic.woff2') format('woff2'),
        url('../fonts/WSansNew-BoldItalic.woff') format('woff'),
        url('../fonts/WSansNew-BoldItalic.ttf') format('truetype'),
        url('../fonts/WSansNew-BoldItalic.svg#WSansNew-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MaterialIcons-Regular.eot');
  src: url('../fonts/MaterialIcons-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MaterialIcons-Regular.woff2') format('woff2'),
        url('../fonts/MaterialIcons-Regular.woff') format('woff'),
        url('../fonts/MaterialIcons-Regular.ttf') format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


.logo_products {
    background-color: rgb(0, 38, 74);
}
.product_list_header {
    float: left;
}
.l_search {
    float: left;
}
.navigation-agileits {
    background-color: rgb(0, 38, 74);
}
.navbar-default .navbar-nav > li > a {
     font-size: 15px;
    font-weight: 500;
    padding: 5px 8px;
    text-transform: uppercase;
	margin-bottom: 25px;
}

.navbar-default .navbar-nav > li.active > a::after {
    background-color: rgb(250, 82, 55);
    bottom: 0;
    color: rgb(0, 0, 0);
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    width: 95%;
}
.l_offers {    padding: 0; width: initial;}
.agileits_header {    background: rgb(0, 0, 0) none repeat scroll 0 0;    padding: 0; line-height:42px;}
.l_offers p {    color: rgb(136, 136, 136);    font-family: "W Sans New Book";    font-size: 13px;   line-height: 42px;}
.agile-login {    float: right;    padding: 0;    text-align: right;    width: initial;}
.agile-login ul li a {
    color: rgb(136, 136, 136);
    display: block;
    font-family: "W Sans New Book";
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
	text-transform:capitalize;
}
.agile-login ul li a i {
    color: rgb(250, 82, 55);
    font-size: 18px!important;
    line-height: 42px;
    margin-right: 5px !important;
	   vertical-align: middle;
}
.ls_logo_products_left {
    padding: 0;
    text-align: left;
    width: initial;
}
.view-cart {
    background: rgb(51, 153, 204) none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    font-family: "W Sans New Bold";
    font-size: 14px;
    height: 40px;
    letter-spacing: 1px;
    outline: medium none;
    text-align: center;
    width: auto;
}
.product_list_header {
    float: right;
    max-width: 155px;
    padding: 12px 0;
}
.search-icon {
    padding: 14px 0;
}
button.btn.btn-default.search {
    background: rgb(250, 82, 55) none repeat scroll 0 0;
    border-radius: 0;
}
.l_search {
     float: none;
    position: absolute;
    top: 9px;
    width: 95%;
}
.logo_products {
    padding: 27px 0;
}
.navbar {
    min-height: 42px;
}
.navbar-default .navbar-nav > li > a {
    color: rgb(255, 255, 255);
    font-family: "W Sans New Book";
}
.wave-outer {
    position: relative;
}
.section-wave {
    line-height: 0;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    width: 100%;
}
.ie-10 .section-wave, .ie-11 .section-wave, .ie-edge .section-wave {
    top: 1px;
}
.section-wave > svg {
    height: auto;
    width: 100%;
}
.ie-10 .section-wave > svg, .ie-11 .section-wave > svg, .ie-edge .section-wave > svg {
    max-height: 45px;
}
.tablet .section-wave > svg, .mobile .section-wave > svg {
    max-height: 25px;
}
.section-wave .wave {
    fill: #f6f6f6;
    width: 100%;
}
.col-md-2_5 {
    float: left;
    padding: 0 10px;
    width: 20%;
}

.fish-from-everywhere .agile_top_brand_left_grid {
    padding: 0;
}
.fish-from-everywhere .agile_top_brand_left_grid .agile_top_brand_left_grid1 {
    padding: 0;
}
.fish-from-everywhere .agile_top_brand_left_grid .agile_top_brand_left_grid1 .snipcart-thumb > img {
    max-width: 100%;
}

.fish-from-anywhere {
    background-color: rgb(246, 246, 246);
}

.top-brands-title h2{
	text-align:center;
	color:#212121;
	font-size: 2.5em;
	text-transform: uppercase;
}


.parallax-content {
    position: relative;
    z-index: 1;
}
.parallax-text-wrap {
    position: relative;
}
.parallax-text-wrap h3 {
    position: relative;
    z-index: 1;
}
.parallax-text-wrap + * {
    position: relative;
}
.parallax-text {
      bottom: -20%;
    color: rgb(235, 236, 243);
    display: none;
    font: 900 36px/1 "Montserrat",sans-serif;
    left: 0;
    letter-spacing: -2.3px;
    position: absolute;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 0;
	
}
@media (min-width: 768px) {
.parallax-text {
    bottom: -60%;
    display: block;
    font-size: 70px;
}
}
@media (min-width: 992px) {
.parallax-text {
    font-size: 100px;
}
}
@media (min-width: 1200px) {
.parallax-text {
   font-size: 44px;
    left: -40px;
}
}
@media (min-width: 1600px) {
.parallax-text {
    font-size: 150px;
    left: -145px;
}
}
@media (min-width: 1800px) {
.parallax-text {
    font-size: 170px;
}
}


.product-section {
    padding: 80px 0 50px;
    position: relative;
    width: 100%;
}
.product-section::before {
    content: "";
    height: 585px;
    left: 0;
    position: absolute;
    top: 100px;
    width: 393px;
}
.product-section .product-box .thumb img {
		  transition: all 0.5s ease-in 0s;
	  -webkit-transition: all 0.5s ease-in 0s;
	  -moz-transition: all 0.5s ease-in 0s;
	  -ms-transition: all 0.5s ease-in 0s;
}
.product-section .heading-space {
    padding: 0 0 20px;
}
.product-section .product-box {
    float: left;
    margin-bottom: 35px;
    position: relative;
    width: 100%;
}
.product-section .product-box:hover .thumb img {
    transform: translateY(-5px) translateX(-30px);
	 transition: all 0.5s ease-in 0s;
	  -webkit-transition: all 0.5s ease-in 0s;
	  -moz-transition: all 0.5s ease-in 0s;
	  -ms-transition: all 0.5s ease-in 0s;
}
.product-section .product-box::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(204, 204, 204) currentcolor;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
    content: "";
    height: 225px;
    position: absolute;
    right: 0;
    top: 0;
	   z-index: 1;
    width: 262px;
}
.product-section .product-box::after {
    border-left: 1px solid rgb(204, 204, 204);
    content: "";
    height: 38px;
    left: 107px;
    position: absolute;
    top: 0;
}
.main-products .product-section .product-box strong.subheading {
     color: #00264a;
    font-family: "BankGothic Lt BT";
    font-size: 32px;
    left: -2px;
    letter-spacing: 0;
    line-height: 52px;
    padding: 0;
    position: relative;
    top: 35px;
    z-index: 9;
}
.main-products .product-section .product-box h3 {
    color: #222222;
    font-family: "W Sans New Book";
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.9px;
    line-height: 24px;
    top: 22px;
}
.main-products
{
    background-color: white;
}

.product-section .product-box h3 {
    letter-spacing: 2px;
    margin: 0;
    position: relative;
    z-index: 9;
}
.product-section .product-box h4 {
    color: rgb(34, 34, 34);
    float: right;
    font: 400 18px/18px "Open Sans",sans-serif;
    margin: 15px 0;
    text-align: right;
    text-transform: uppercase;
    width: 100%;
}
.product-section .product-box button.btn-style-1 {
    border: 1px solid rgba(0, 0, 0, 0);
    float: right;
    font-size: 14px;
    line-height: 14px;
    padding: 11px 33px;
      outline:none;
}
.product-section .product-box button.btn-style-1:hover::before {
    border: 1px solid rgb(204, 204, 204);
}
.product-section .product-box button.btn-style-1:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: rgb(34, 34, 34);
      outline:none;
}
.product-section .product-box button.btn-style-1::before {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      outline:none;
}
.product-section .product-box .thumb {
    float: left;
    width: 100%;
}
.product-section .product-box .thumb img {
    float: right;
	 position: relative;
    top: -5px;
}
.panel-corporate {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    box-shadow: 0 5px 12px 0 rgb(220, 222, 236);
    position: relative;
    text-align: left;
    z-index: 1;
}
.panel-corporate.panel {
    border-radius: 10px;
}
.panel-corporate .panel-title a {
    border-radius: 10px 10px 0 0;
    color: rgb(41, 41, 58);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5;
    padding: 18px 82px 18px 32px;
    transition: inherit;
}
.panel-corporate .panel-title a .panel-arrow {
    transition: all 0.33s ease 0s;
}
.panel-corporate .panel-title a.collapsed {
    border-bottom-width: 0;
    border-radius: 10px;
}
.panel-corporate .panel-title a.collapsed .panel-arrow::before {
    opacity: 0;
}
.panel-corporate .panel-title a.collapsed .panel-arrow::after{
    opacity: 0;
}
.panel-corporate .panel-title a.collapsed .material-icons.add{	opacity: 1;}
.panel-corporate .panel-title a .material-icons.add{ opacity:0;}
.panel-corporate .panel-title a .material-icons.remove{ opacity: 1;}

.panel-corporate .panel-arrow {
    background: #fa5237;
    border-radius: 0 10px 10px 0;
    bottom: -1px;
    position: absolute;
    right: -1px;
    top: 0;
    transition: all 0.33s ease 0s;
    width: 70px;
    z-index: 2;
}
.panel-corporate .panel-arrow::before, .panel-corporate .panel-arrow::after, .panel-corporate .panel-arrow .material-icons {
    color: rgb(255, 255, 255);
    font-family: "Material Icons";
    left: 50%;
    position: absolute;
    top: 18px;
    transform: translateX(-50%);
    transition: all 0.22s ease 0s;
    z-index: 4;
	
}
.panel-corporate .panel-arrow::before {
    content: '\f504';
    opacity: 0;
}
.panel-corporate .panel-arrow::after {
    content: '\f465';
    opacity: 0;
}
.panel-corporate .panel-arrow:hover {
    background: rgb(152, 29, 240) none repeat scroll 0 0;
}
.panel-corporate .panel-collapse {
    border-radius: 0 0 10px 10px;
    color: rgb(131, 131, 134);
    position: relative;
    z-index: 1;
}
.panel-corporate .panel-body {
    padding: 0 82px 25px 32px;
}

@media (max-width: 767px) {
.panel-corporate .panel-title a, .panel-corporate .panel-body {
    padding-left: 25px;
}
.navigation-agileits { z-index:9999; }
}
@media (min-width: 768px) {
.panel-corporate .panel-title a {
    font-size: 24px;
    line-height: 1.41667;
}
.panel-corporate .panel-body {
    padding-right: 150px;
}
}


[class*="bg-"] {
    background-position: center center;
    background-size: cover;
}
.bg-gray-lighter {
    background-color: #f2f3f9;
    fill: #f2f3f9;
}
.shell-custom, .shell-custom [class*="cell"] {
    padding: 0;
}
.shell-custom {
    min-height: 350px;
}
.shell-custom {
    padding: 0;
    width: 100%;
}
.shell-custom .range {
    margin-left: 0;
    margin-right: 0;
}
html .range-0 {
    /* margin-bottom: 0;
    pointer-events: none;
    position: relative;
    transform: translateY(0px); */
}
.range-lg-left {
    justify-content: flex-start;
}
.range-md-middle {
    align-items: center;
}
.range-sm-center {
    justify-content: center;
}
.range {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
}
.range > [class*="cell"] {
    flex: 0 0 100%;
    max-width: 100%;
}


/* Column dividings  start cell styles*/
@media (min-width: 0px) {
    * + [class*="cell-xxs-"] {
        margin-top: 0;
    }
    .range-xxs-center {
        justify-content: center;
    }
    .range-xxs-left {
        justify-content: flex-start;
    }
    .range-xxs-right {
        justify-content: flex-end;
    }
    .range-xxs-justify {
        justify-content: space-between;
    }
    .range-xxs-around {
        justify-content: space-around;
    }
    .range-xxs-top {
        align-items: flex-start;
    }
    .range-xxs {
        flex-direction: row;
    }
    .range-xxs-reverse {
        flex-direction: row-reverse;
    }
    .range-xxs-middle {
        align-items: center;
    }
    .range-xxs-bottom {
        align-items: flex-end;
    }
    .cell-xxs-top {
        align-self: flex-start;
    }
    .cell-xxs-middle {
        align-self: center;
    }
    .cell-xxs-bottom {
        align-self: flex-end;
    }
    .range > .cell-xxs-preffix-0 {
        margin-left: 0;
    }
    .range > .cell-xxs-1 {
        flex-basis: 8.33333%;
        max-width: 8.33333%;
    }
    .range > .cell-xxs-preffix-1 {
        margin-left: 8.33333%;
    }
    .range > .cell-xxs-2 {
        flex-basis: 16.6667%;
        max-width: 16.6667%;
    }
    .range > .cell-xxs-preffix-2 {
        margin-left: 16.6667%;
    }
    .range > .cell-xxs-3 {
        flex-basis: 25%;
        max-width: 25%;
    }
    .range > .cell-xxs-preffix-3 {
        margin-left: 25%;
    }
    .range > .cell-xxs-4 {
        flex-basis: 33.3333%;
        max-width: 33.3333%;
    }
    .range > .cell-xxs-preffix-4 {
        margin-left: 33.3333%;
    }
    .range > .cell-xxs-5 {
        flex-basis: 41.6667%;
        max-width: 41.6667%;
    }
    .range > .cell-xxs-preffix-5 {
        margin-left: 41.6667%;
    }
    .range > .cell-xxs-6 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .range > .cell-xxs-preffix-6 {
        margin-left: 50%;
    }
    .range > .cell-xxs-7 {
        flex-basis: 58.3333%;
        max-width: 58.3333%;
    }
    .range > .cell-xxs-preffix-7 {
        margin-left: 58.3333%;
    }
    .range > .cell-xxs-8 {
        flex-basis: 66.6667%;
        max-width: 66.6667%;
    }
    .range > .cell-xxs-preffix-8 {
        margin-left: 66.6667%;
    }
    .range > .cell-xxs-9 {
        flex-basis: 75%;
        max-width: 75%;
    }
    .range > .cell-xxs-preffix-9 {
        margin-left: 75%;
    }
    .range > .cell-xxs-10 {
        flex-basis: 83.3333%;
        max-width: 83.3333%;
    }
    .range > .cell-xxs-preffix-10 {
        margin-left: 83.3333%;
    }
    .range > .cell-xxs-11 {
        flex-basis: 91.6667%;
        max-width: 91.6667%;
    }
    .range > .cell-xxs-preffix-11 {
        margin-left: 91.6667%;
    }
    .range > .cell-xxs-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
    .range > .cell-xxs-preffix-12 {
        margin-left: 100%;
    }
    .range > .cell-xxs-1-5 {
        flex-basis: 20%;
        max-width: 20%;
    }
    }
    @media (min-width: 480px) {
    * + [class*="cell-xs-"] {
        margin-top: 0;
    }
    .range-xs-center {
        justify-content: center;
    }
    .range-xs-left {
        justify-content: flex-start;
    }
    .range-xs-right {
        justify-content: flex-end;
    }
    .range-xs-justify {
        justify-content: space-between;
    }
    .range-xs-around {
        justify-content: space-around;
    }
    .range-xs-top {
        align-items: flex-start;
    }
    .range-xs {
        flex-direction: row;
    }
    .range-xs-reverse {
        flex-direction: row-reverse;
    }
    .range-xs-middle {
        align-items: center;
    }
    .range-xs-bottom {
        align-items: flex-end;
    }
    .cell-xs-top {
        align-self: flex-start;
    }
    .cell-xs-middle {
        align-self: center;
    }
    .cell-xs-bottom {
        align-self: flex-end;
    }
    .range > .cell-xs-preffix-0 {
        margin-left: 0;
    }
    .range > .cell-xs-1 {
        flex-basis: 8.33333%;
        max-width: 8.33333%;
    }
    .range > .cell-xs-preffix-1 {
        margin-left: 8.33333%;
    }
    .range > .cell-xs-2 {
        flex-basis: 16.6667%;
        max-width: 16.6667%;
    }
    .range > .cell-xs-preffix-2 {
        margin-left: 16.6667%;
    }
    .range > .cell-xs-3 {
        flex-basis: 25%;
        max-width: 25%;
    }
    .range > .cell-xs-preffix-3 {
        margin-left: 25%;
    }
    .range > .cell-xs-4 {
        flex-basis: 33.3333%;
        max-width: 33.3333%;
    }
    .range > .cell-xs-preffix-4 {
        margin-left: 33.3333%;
    }
    .range > .cell-xs-5 {
        flex-basis: 41.6667%;
        max-width: 41.6667%;
    }
    .range > .cell-xs-preffix-5 {
        margin-left: 41.6667%;
    }
    .range > .cell-xs-6 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .range > .cell-xs-preffix-6 {
        margin-left: 50%;
    }
    .range > .cell-xs-7 {
        flex-basis: 58.3333%;
        max-width: 58.3333%;
    }
    .range > .cell-xs-preffix-7 {
        margin-left: 58.3333%;
    }
    .range > .cell-xs-8 {
        flex-basis: 66.6667%;
        max-width: 66.6667%;
    }
    .range > .cell-xs-preffix-8 {
        margin-left: 66.6667%;
    }
    .range > .cell-xs-9 {
        flex-basis: 75%;
        max-width: 75%;
    }
    .range > .cell-xs-preffix-9 {
        margin-left: 75%;
    }
    .range > .cell-xs-10 {
        flex-basis: 83.3333%;
        max-width: 83.3333%;
    }
    .range > .cell-xs-preffix-10 {
        margin-left: 83.3333%;
    }
    .range > .cell-xs-11 {
        flex-basis: 91.6667%;
        max-width: 91.6667%;
    }
    .range > .cell-xs-preffix-11 {
        margin-left: 91.6667%;
    }
    .range > .cell-xs-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
    .range > .cell-xs-preffix-12 {
        margin-left: 100%;
    }
    .range > .cell-xs-1-5 {
        flex-basis: 20%;
        max-width: 20%;
    }
    }
    @media (min-width: 768px) {
    * + [class*="cell-sm-"] {
        margin-top: 0;
    }
    .range-sm-center {
        justify-content: center;
    }
    .range-sm-left {
        justify-content: flex-start;
    }
    .range-sm-right {
        justify-content: flex-end;
    }
    .range-sm-justify {
        justify-content: space-between;
    }
    .range-sm-around {
        justify-content: space-around;
    }
    .range-sm-top {
        align-items: flex-start;
    }
    .range-sm {
        flex-direction: row;
    }
    .range-sm-reverse {
        flex-direction: row-reverse;
    }
    .range-sm-middle {
        align-items: center;
    }
    .range-sm-bottom {
        align-items: flex-end;
    }
    .cell-sm-top {
        align-self: flex-start;
    }
    .cell-sm-middle {
        align-self: center;
    }
    .cell-sm-bottom {
        align-self: flex-end;
    }
    .range > .cell-sm-preffix-0 {
        margin-left: 0;
    }
    .range > .cell-sm-1 {
        flex-basis: 8.33333%;
        max-width: 8.33333%;
    }
    .range > .cell-sm-preffix-1 {
        margin-left: 8.33333%;
    }
    .range > .cell-sm-2 {
        flex-basis: 16.6667%;
        max-width: 16.6667%;
    }
    .range > .cell-sm-preffix-2 {
        margin-left: 16.6667%;
    }
    .range > .cell-sm-3 {
        flex-basis: 25%;
        max-width: 25%;
    }
    .range > .cell-sm-preffix-3 {
        margin-left: 25%;
    }
    .range > .cell-sm-4 {
        flex-basis: 33.3333%;
        max-width: 33.3333%;
    }
    .range > .cell-sm-preffix-4 {
        margin-left: 33.3333%;
    }
    .range > .cell-sm-5 {
        flex-basis: 41.6667%;
        max-width: 41.6667%;
    }
    .range > .cell-sm-preffix-5 {
        margin-left: 41.6667%;
    }
    .range > .cell-sm-6 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .range > .cell-sm-preffix-6 {
        margin-left: 50%;
    }
    .range > .cell-sm-7 {
        flex-basis: 58.3333%;
        max-width: 58.3333%;
    }
    .range > .cell-sm-preffix-7 {
        margin-left: 58.3333%;
    }
    .range > .cell-sm-8 {
        flex-basis: 66.6667%;
        max-width: 66.6667%;
    }
    .range > .cell-sm-preffix-8 {
        margin-left: 66.6667%;
    }
    .range > .cell-sm-9 {
        flex-basis: 75%;
        max-width: 75%;
    }
    .range > .cell-sm-preffix-9 {
        margin-left: 75%;
    }
    .range > .cell-sm-10 {
        flex-basis: 83.3333%;
        max-width: 83.3333%;
    }
    .range > .cell-sm-preffix-10 {
        margin-left: 83.3333%;
    }
    .range > .cell-sm-11 {
        flex-basis: 91.6667%;
        max-width: 91.6667%;
    }
    .range > .cell-sm-preffix-11 {
        margin-left: 91.6667%;
    }
    .range > .cell-sm-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
    .range > .cell-sm-preffix-12 {
        margin-left: 100%;
    }
    .range > .cell-sm-1-5 {
        flex-basis: 20%;
        max-width: 20%;
    }
    }
    @media (min-width: 992px) {
    * + [class*="cell-md-"] {
        margin-top: 0;
    }
    .range-md-center {
        justify-content: center;
    }
    .range-md-left {
        justify-content: flex-start;
    }
    .range-md-right {
        justify-content: flex-end;
    }
    .range-md-justify {
        justify-content: space-between;
    }
    .range-md-around {
        justify-content: space-around;
    }
    .range-md-top {
        align-items: flex-start;
    }
    .range-md {
        flex-direction: row;
    }
    .range-md-reverse {
        flex-direction: row-reverse;
    }
    .range-md-middle {
        align-items: center;
    }
    .range-md-bottom {
        align-items: flex-end;
    }
    .cell-md-top {
        align-self: flex-start;
    }
    .cell-md-middle {
        align-self: center;
    }
    .cell-md-bottom {
        align-self: flex-end;
    }
    .range > .cell-md-preffix-0 {
        margin-left: 0;
    }
    .range > .cell-md-1 {
        flex-basis: 8.33333%;
        max-width: 8.33333%;
    }
    .range > .cell-md-preffix-1 {
        margin-left: 8.33333%;
    }
    .range > .cell-md-2 {
        flex-basis: 16.6667%;
        max-width: 16.6667%;
    }
    .range > .cell-md-preffix-2 {
        margin-left: 16.6667%;
    }
    .range > .cell-md-3 {
        flex-basis: 25%;
        max-width: 25%;
    }
    .range > .cell-md-preffix-3 {
        margin-left: 25%;
    }
    .range > .cell-md-4 {
        flex-basis: 33.3333%;
        max-width: 33.3333%;
    }
    .range > .cell-md-preffix-4 {
        margin-left: 33.3333%;
    }
    .range > .cell-md-5 {
        flex-basis: 41.6667%;
        max-width: 41.6667%;
    }
    .range > .cell-md-preffix-5 {
        margin-left: 41.6667%;
    }
    .range > .cell-md-6 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .range > .cell-md-preffix-6 {
        margin-left: 50%;
    }
    .range > .cell-md-7 {
        flex-basis: 58.3333%;
        max-width: 58.3333%;
    }
    .range > .cell-md-preffix-7 {
        margin-left: 58.3333%;
    }
    .range > .cell-md-8 {
        flex-basis: 66.6667%;
        max-width: 66.6667%;
    }
    .range > .cell-md-preffix-8 {
        margin-left: 66.6667%;
    }
    .range > .cell-md-9 {
        flex-basis: 75%;
        max-width: 75%;
    }
    .range > .cell-md-preffix-9 {
        margin-left: 75%;
    }
    .range > .cell-md-10 {
        flex-basis: 83.3333%;
        max-width: 83.3333%;
    }
    .range > .cell-md-preffix-10 {
        margin-left: 83.3333%;
    }
    .range > .cell-md-11 {
        flex-basis: 91.6667%;
        max-width: 91.6667%;
    }
    .range > .cell-md-preffix-11 {
        margin-left: 91.6667%;
    }
    .range > .cell-md-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
    .range > .cell-md-preffix-12 {
        margin-left: 100%;
    }
    .range > .cell-md-1-5 {
        flex-basis: 20%;
        max-width: 20%;
    }
    }
    @media (min-width: 1200px) {
    * + [class*="cell-lg-"] {
        margin-top: 0;
    }
    .range-lg-center {
        justify-content: center;
    }
    .range-lg-left {
        justify-content: flex-start;
    }
    .range-lg-right {
        justify-content: flex-end;
    }
    .range-lg-justify {
        justify-content: space-between;
    }
    .range-lg-around {
        justify-content: space-around;
    }
    .range-lg-top {
        align-items: flex-start;
    }
    .range-lg {
        flex-direction: row;
    }
    .range-lg-reverse {
        flex-direction: row-reverse;
    }
    .range-lg-middle {
        align-items: center;
    }
    .range-lg-bottom {
        align-items: flex-end;
    }
    .cell-lg-top {
        align-self: flex-start;
    }
    .cell-lg-middle {
        align-self: center;
    }
    .cell-lg-bottom {
        align-self: flex-end;
    }
    .range > .cell-lg-preffix-0 {
        margin-left: 0;
    }
    .range > .cell-lg-1 {
        flex-basis: 8.33333%;
        max-width: 8.33333%;
    }
    .range > .cell-lg-preffix-1 {
        margin-left: 8.33333%;
    }
    .range > .cell-lg-2 {
        flex-basis: 16.6667%;
        max-width: 16.6667%;
    }
    .range > .cell-lg-preffix-2 {
        margin-left: 16.6667%;
    }
    .range > .cell-lg-3 {
        flex-basis: 25%;
        max-width: 25%;
    }
    .range > .cell-lg-preffix-3 {
        margin-left: 25%;
    }
    .range > .cell-lg-4 {
        flex-basis: 33.3333%;
        max-width: 33.3333%;
    }
    .range > .cell-lg-preffix-4 {
        margin-left: 33.3333%;
    }
    .range > .cell-lg-5 {
        flex-basis: 41.6667%;
        max-width: 41.6667%;
    }
    .range > .cell-lg-preffix-5 {
        margin-left: 41.6667%;
    }
    .range > .cell-lg-6 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .range > .cell-lg-preffix-6 {
        margin-left: 50%;
    }
    .range > .cell-lg-7 {
        flex-basis: 58.3333%;
        max-width: 58.3333%;
    }
    .range > .cell-lg-preffix-7 {
        margin-left: 58.3333%;
    }
    .range > .cell-lg-8 {
        flex-basis: 66.6667%;
        max-width: 66.6667%;
    }
    .range > .cell-lg-preffix-8 {
        margin-left: 66.6667%;
    }
    .range > .cell-lg-9 {
        flex-basis: 75%;
        max-width: 75%;
    }
    .range > .cell-lg-preffix-9 {
        margin-left: 75%;
    }
    .range > .cell-lg-10 {
        flex-basis: 83.3333%;
        max-width: 83.3333%;
    }
    .range > .cell-lg-preffix-10 {
        margin-left: 83.3333%;
    }
    .range > .cell-lg-11 {
        flex-basis: 91.6667%;
        max-width: 91.6667%;
    }
    .range > .cell-lg-preffix-11 {
        margin-left: 91.6667%;
    }
    .range > .cell-lg-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
    .range > .cell-lg-preffix-12 {
        margin-left: 100%;
    }
    .range > .cell-lg-1-5 {
        flex-basis: 20%;
        max-width: 20%;
    }
    }
    @media (min-width: 1600px) {
    * + [class*="cell-xl-"] {
        margin-top: 0;
    }
    .range-xl-center {
        justify-content: center;
    }
    .range-xl-left {
        justify-content: flex-start;
    }
    .range-xl-right {
        justify-content: flex-end;
    }
    .range-xl-justify {
        justify-content: space-between;
    }
    .range-xl-around {
        justify-content: space-around;
    }
    .range-xl-top {
        align-items: flex-start;
    }
    .range-xl {
        flex-direction: row;
    }
    .range-xl-reverse {
        flex-direction: row-reverse;
    }
    .range-xl-middle {
        align-items: center;
    }
    .range-xl-bottom {
        align-items: flex-end;
    }
    .cell-xl-top {
        align-self: flex-start;
    }
    .cell-xl-middle {
        align-self: center;
    }
    .cell-xl-bottom {
        align-self: flex-end;
    }
    .range > .cell-xl-preffix-0 {
        margin-left: 0;
    }
    .range > .cell-xl-1 {
        flex-basis: 8.33333%;
        max-width: 8.33333%;
    }
    .range > .cell-xl-preffix-1 {
        margin-left: 8.33333%;
    }
    .range > .cell-xl-2 {
        flex-basis: 16.6667%;
        max-width: 16.6667%;
    }
    .range > .cell-xl-preffix-2 {
        margin-left: 16.6667%;
    }
    .range > .cell-xl-3 {
        flex-basis: 25%;
        max-width: 25%;
    }
    .range > .cell-xl-preffix-3 {
        margin-left: 25%;
    }
    .range > .cell-xl-4 {
        flex-basis: 33.3333%;
        max-width: 33.3333%;
    }
    .range > .cell-xl-preffix-4 {
        margin-left: 33.3333%;
    }
    .range > .cell-xl-5 {
        flex-basis: 41.6667%;
        max-width: 41.6667%;
    }
    .range > .cell-xl-preffix-5 {
        margin-left: 41.6667%;
    }
    .range > .cell-xl-6 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .range > .cell-xl-preffix-6 {
        margin-left: 50%;
    }
    .range > .cell-xl-7 {
        flex-basis: 58.3333%;
        max-width: 58.3333%;
    }
    .range > .cell-xl-preffix-7 {
        margin-left: 58.3333%;
    }
    .range > .cell-xl-8 {
        flex-basis: 66.6667%;
        max-width: 66.6667%;
    }
    .range > .cell-xl-preffix-8 {
        margin-left: 66.6667%;
    }
    .range > .cell-xl-9 {
        flex-basis: 75%;
        max-width: 75%;
    }
    .range > .cell-xl-preffix-9 {
        margin-left: 75%;
    }
    .range > .cell-xl-10 {
        flex-basis: 83.3333%;
        max-width: 83.3333%;
    }
    .range > .cell-xl-preffix-10 {
        margin-left: 83.3333%;
    }
    .range > .cell-xl-11 {
        flex-basis: 91.6667%;
        max-width: 91.6667%;
    }
    .range > .cell-xl-preffix-11 {
        margin-left: 91.6667%;
    }
    .range > .cell-xl-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
    .range > .cell-xl-preffix-12 {
        margin-left: 100%;
    }
    .range > .cell-xl-1-5 {
        flex-basis: 20%;
        max-width: 20%;
    }
    }
    @media (min-width: 1800px) {
    * + [class*="cell-xxl-"] {
        margin-top: 0;
    }
    .range-xxl-center {
        justify-content: center;
    }
    .range-xxl-left {
        justify-content: flex-start;
    }
    .range-xxl-right {
        justify-content: flex-end;
    }
    .range-xxl-justify {
        justify-content: space-between;
    }
    .range-xxl-around {
        justify-content: space-around;
    }
    .range-xxl-top {
        align-items: flex-start;
    }
    .range-xxl {
        flex-direction: row;
    }
    .range-xxl-reverse {
        flex-direction: row-reverse;
    }
    .range-xxl-middle {
        align-items: center;
    }
    .range-xxl-bottom {
        align-items: flex-end;
    }
    .cell-xxl-top {
        align-self: flex-start;
    }
    .cell-xxl-middle {
        align-self: center;
    }
    .cell-xxl-bottom {
        align-self: flex-end;
    }
    .range > .cell-xxl-preffix-0 {
        margin-left: 0;
    }
    .range > .cell-xxl-1 {
        flex-basis: 8.33333%;
        max-width: 8.33333%;
    }
    .range > .cell-xxl-preffix-1 {
        margin-left: 8.33333%;
    }
    .range > .cell-xxl-2 {
        flex-basis: 16.6667%;
        max-width: 16.6667%;
    }
    .range > .cell-xxl-preffix-2 {
        margin-left: 16.6667%;
    }
    .range > .cell-xxl-3 {
        flex-basis: 25%;
        max-width: 25%;
    }
    .range > .cell-xxl-preffix-3 {
        margin-left: 25%;
    }
    .range > .cell-xxl-4 {
        flex-basis: 33.3333%;
        max-width: 33.3333%;
    }
    .range > .cell-xxl-preffix-4 {
        margin-left: 33.3333%;
    }
    .range > .cell-xxl-5 {
        flex-basis: 41.6667%;
        max-width: 41.6667%;
    }
    .range > .cell-xxl-preffix-5 {
        margin-left: 41.6667%;
    }
    .range > .cell-xxl-6 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .range > .cell-xxl-preffix-6 {
        margin-left: 50%;
    }
    .range > .cell-xxl-7 {
        flex-basis: 58.3333%;
        max-width: 58.3333%;
    }
    .range > .cell-xxl-preffix-7 {
        margin-left: 58.3333%;
    }
    .range > .cell-xxl-8 {
        flex-basis: 66.6667%;
        max-width: 66.6667%;
    }
    .range > .cell-xxl-preffix-8 {
        margin-left: 66.6667%;
    }
    .range > .cell-xxl-9 {
        flex-basis: 75%;
        max-width: 75%;
    }
    .range > .cell-xxl-preffix-9 {
        margin-left: 75%;
    }
    .range > .cell-xxl-10 {
        flex-basis: 83.3333%;
        max-width: 83.3333%;
    }
    .range > .cell-xxl-preffix-10 {
        margin-left: 83.3333%;
    }
    .range > .cell-xxl-11 {
        flex-basis: 91.6667%;
        max-width: 91.6667%;
    }
    .range > .cell-xxl-preffix-11 {
        margin-left: 91.6667%;
    }
    .range > .cell-xxl-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
    .range > .cell-xxl-preffix-12 {
        margin-left: 100%;
    }
    .range > .cell-xxl-1-5 {
        flex-basis: 20%;
        max-width: 20%;
    }
    }
    @media (min-width: 0px) {
    .range-ten > .cell-xxs-preffix-0 {
        margin-left: 0;
    }
    .range-ten > .cell-xxs-1 {
        flex-basis: 10%;
        max-width: 10%;
    }
    .range-ten > .cell-xxs-preffix-1 {
        margin-left: 10%;
    }
    .range-ten > .cell-xxs-2 {
        flex-basis: 20%;
        max-width: 20%;
    }
    .range-ten > .cell-xxs-preffix-2 {
        margin-left: 20%;
    }
    .range-ten > .cell-xxs-3 {
        flex-basis: 30%;
        max-width: 30%;
    }
    .range-ten > .cell-xxs-preffix-3 {
        margin-left: 30%;
    }
    .range-ten > .cell-xxs-4 {
        flex-basis: 40%;
        max-width: 40%;
    }
    .range-ten > .cell-xxs-preffix-4 {
        margin-left: 40%;
    }
    .range-ten > .cell-xxs-5 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .range-ten > .cell-xxs-preffix-5 {
        margin-left: 50%;
    }
    .range-ten > .cell-xxs-6 {
        flex-basis: 60%;
        max-width: 60%;
    }
    .range-ten > .cell-xxs-preffix-6 {
        margin-left: 60%;
    }
    .range-ten > .cell-xxs-7 {
        flex-basis: 70%;
        max-width: 70%;
    }
    .range-ten > .cell-xxs-preffix-7 {
        margin-left: 70%;
    }
    .range-ten > .cell-xxs-8 {
        flex-basis: 80%;
        max-width: 80%;
    }
    .range-ten > .cell-xxs-preffix-8 {
        margin-left: 80%;
    }
    .range-ten > .cell-xxs-9 {
        flex-basis: 90%;
        max-width: 90%;
    }
    .range-ten > .cell-xxs-preffix-9 {
        margin-left: 90%;
    }
    .range-ten > .cell-xxs-10 {
        flex-basis: 100%;
        max-width: 100%;
    }
    .range-ten > .cell-xxs-preffix-10 {
        margin-left: 100%;
    }
    .range-ten > .cell-xxs-1-5 {
        flex-basis: 20%;
        max-width: 20%;
    }
    }
    @media (min-width: 480px) {
    .range-ten > .cell-xs-preffix-0 {
        margin-left: 0;
    }
    .range-ten > .cell-xs-1 {
        flex-basis: 10%;
        max-width: 10%;
    }
    .range-ten > .cell-xs-preffix-1 {
        margin-left: 10%;
    }
    .range-ten > .cell-xs-2 {
        flex-basis: 20%;
        max-width: 20%;
    }
    .range-ten > .cell-xs-preffix-2 {
        margin-left: 20%;
    }
    .range-ten > .cell-xs-3 {
        flex-basis: 30%;
        max-width: 30%;
    }
    .range-ten > .cell-xs-preffix-3 {
        margin-left: 30%;
    }
    .range-ten > .cell-xs-4 {
        flex-basis: 40%;
        max-width: 40%;
    }
    .range-ten > .cell-xs-preffix-4 {
        margin-left: 40%;
    }
    .range-ten > .cell-xs-5 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .range-ten > .cell-xs-preffix-5 {
        margin-left: 50%;
    }
    .range-ten > .cell-xs-6 {
        flex-basis: 60%;
        max-width: 60%;
    }
    .range-ten > .cell-xs-preffix-6 {
        margin-left: 60%;
    }
    .range-ten > .cell-xs-7 {
        flex-basis: 70%;
        max-width: 70%;
    }
    .range-ten > .cell-xs-preffix-7 {
        margin-left: 70%;
    }
    .range-ten > .cell-xs-8 {
        flex-basis: 80%;
        max-width: 80%;
    }
    .range-ten > .cell-xs-preffix-8 {
        margin-left: 80%;
    }
    .range-ten > .cell-xs-9 {
        flex-basis: 90%;
        max-width: 90%;
    }
    .range-ten > .cell-xs-preffix-9 {
        margin-left: 90%;
    }
    .range-ten > .cell-xs-10 {
        flex-basis: 100%;
        max-width: 100%;
    }
    .range-ten > .cell-xs-preffix-10 {
        margin-left: 100%;
    }
    .range-ten > .cell-xs-1-5 {
        flex-basis: 20%;
        max-width: 20%;
    }
    }
    @media (min-width: 768px) {
    .range-ten > .cell-sm-preffix-0 {
        margin-left: 0;
    }
    .range-ten > .cell-sm-1 {
        flex-basis: 10%;
        max-width: 10%;
    }
    .range-ten > .cell-sm-preffix-1 {
        margin-left: 10%;
    }
    .range-ten > .cell-sm-2 {
        flex-basis: 20%;
        max-width: 20%;
    }
    .range-ten > .cell-sm-preffix-2 {
        margin-left: 20%;
    }
    .range-ten > .cell-sm-3 {
        flex-basis: 30%;
        max-width: 30%;
    }
    .range-ten > .cell-sm-preffix-3 {
        margin-left: 30%;
    }
    .range-ten > .cell-sm-4 {
        flex-basis: 40%;
        max-width: 40%;
    }
    .range-ten > .cell-sm-preffix-4 {
        margin-left: 40%;
    }
    .range-ten > .cell-sm-5 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .range-ten > .cell-sm-preffix-5 {
        margin-left: 50%;
    }
    .range-ten > .cell-sm-6 {
        flex-basis: 60%;
        max-width: 60%;
    }
    .range-ten > .cell-sm-preffix-6 {
        margin-left: 60%;
    }
    .range-ten > .cell-sm-7 {
        flex-basis: 70%;
        max-width: 70%;
    }
    .range-ten > .cell-sm-preffix-7 {
        margin-left: 70%;
    }
    .range-ten > .cell-sm-8 {
        flex-basis: 80%;
        max-width: 80%;
    }
    .range-ten > .cell-sm-preffix-8 {
        margin-left: 80%;
    }
    .range-ten > .cell-sm-9 {
        flex-basis: 90%;
        max-width: 90%;
    }
    .range-ten > .cell-sm-preffix-9 {
        margin-left: 90%;
    }
    .range-ten > .cell-sm-10 {
        flex-basis: 100%;
        max-width: 100%;
    }
    .range-ten > .cell-sm-preffix-10 {
        margin-left: 100%;
    }
    .range-ten > .cell-sm-1-5 {
        flex-basis: 20%;
        max-width: 20%;
    }
    }
    @media (min-width: 992px) {
    .range-ten > .cell-md-preffix-0 {
        margin-left: 0;
    }
    .range-ten > .cell-md-1 {
        flex-basis: 10%;
        max-width: 10%;
    }
    .range-ten > .cell-md-preffix-1 {
        margin-left: 10%;
    }
    .range-ten > .cell-md-2 {
        flex-basis: 20%;
        max-width: 20%;
    }
    .range-ten > .cell-md-preffix-2 {
        margin-left: 20%;
    }
    .range-ten > .cell-md-3 {
        flex-basis: 30%;
        max-width: 30%;
    }
    .range-ten > .cell-md-preffix-3 {
        margin-left: 30%;
    }
    .range-ten > .cell-md-4 {
        flex-basis: 40%;
        max-width: 40%;
    }
    .range-ten > .cell-md-preffix-4 {
        margin-left: 40%;
    }
    .range-ten > .cell-md-5 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .range-ten > .cell-md-preffix-5 {
        margin-left: 50%;
    }
    .range-ten > .cell-md-6 {
        flex-basis: 60%;
        max-width: 60%;
    }
    .range-ten > .cell-md-preffix-6 {
        margin-left: 60%;
    }
    .range-ten > .cell-md-7 {
        flex-basis: 70%;
        max-width: 70%;
    }
    .range-ten > .cell-md-preffix-7 {
        margin-left: 70%;
    }
    .range-ten > .cell-md-8 {
        flex-basis: 80%;
        max-width: 80%;
    }
    .range-ten > .cell-md-preffix-8 {
        margin-left: 80%;
    }
    .range-ten > .cell-md-9 {
        flex-basis: 90%;
        max-width: 90%;
    }
    .range-ten > .cell-md-preffix-9 {
        margin-left: 90%;
    }
    .range-ten > .cell-md-10 {
        flex-basis: 100%;
        max-width: 100%;
    }
    .range-ten > .cell-md-preffix-10 {
        margin-left: 100%;
    }
    .range-ten > .cell-md-1-5 {
        flex-basis: 20%;
        max-width: 20%;
    }
    }
    @media (min-width: 1200px) {
    .range-ten > .cell-lg-preffix-0 {
        margin-left: 0;
    }
    .range-ten > .cell-lg-1 {
        flex-basis: 10%;
        max-width: 10%;
    }
    .range-ten > .cell-lg-preffix-1 {
        margin-left: 10%;
    }
    .range-ten > .cell-lg-2 {
        flex-basis: 20%;
        max-width: 20%;
    }
    .range-ten > .cell-lg-preffix-2 {
        margin-left: 20%;
    }
    .range-ten > .cell-lg-3 {
        flex-basis: 30%;
        max-width: 30%;
    }
    .range-ten > .cell-lg-preffix-3 {
        margin-left: 30%;
    }
    .range-ten > .cell-lg-4 {
        flex-basis: 40%;
        max-width: 40%;
    }
    .range-ten > .cell-lg-preffix-4 {
        margin-left: 40%;
    }
    .range-ten > .cell-lg-5 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .range-ten > .cell-lg-preffix-5 {
        margin-left: 50%;
    }
    .range-ten > .cell-lg-6 {
        flex-basis: 60%;
        max-width: 60%;
    }
    .range-ten > .cell-lg-preffix-6 {
        margin-left: 60%;
    }
    .range-ten > .cell-lg-7 {
        flex-basis: 70%;
        max-width: 70%;
    }
    .range-ten > .cell-lg-preffix-7 {
        margin-left: 70%;
    }
    .range-ten > .cell-lg-8 {
        flex-basis: 80%;
        max-width: 80%;
    }
    .range-ten > .cell-lg-preffix-8 {
        margin-left: 80%;
    }
    .range-ten > .cell-lg-9 {
        flex-basis: 90%;
        max-width: 90%;
    }
    .range-ten > .cell-lg-preffix-9 {
        margin-left: 90%;
    }
    .range-ten > .cell-lg-10 {
        flex-basis: 100%;
        max-width: 100%;
    }
    .range-ten > .cell-lg-preffix-10 {
        margin-left: 100%;
    }
    .range-ten > .cell-lg-1-5 {
        flex-basis: 20%;
        max-width: 20%;
    }
    }
    @media (min-width: 1600px) {
    .range-ten > .cell-xl-preffix-0 {
        margin-left: 0;
    }
    .range-ten > .cell-xl-1 {
        flex-basis: 10%;
        max-width: 10%;
    }
    .range-ten > .cell-xl-preffix-1 {
        margin-left: 10%;
    }
    .range-ten > .cell-xl-2 {
        flex-basis: 20%;
        max-width: 20%;
    }
    .range-ten > .cell-xl-preffix-2 {
        margin-left: 20%;
    }
    .range-ten > .cell-xl-3 {
        flex-basis: 30%;
        max-width: 30%;
    }
    .range-ten > .cell-xl-preffix-3 {
        margin-left: 30%;
    }
    .range-ten > .cell-xl-4 {
        flex-basis: 40%;
        max-width: 40%;
    }
    .range-ten > .cell-xl-preffix-4 {
        margin-left: 40%;
    }
    .range-ten > .cell-xl-5 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .range-ten > .cell-xl-preffix-5 {
        margin-left: 50%;
    }
    .range-ten > .cell-xl-6 {
        flex-basis: 60%;
        max-width: 60%;
    }
    .range-ten > .cell-xl-preffix-6 {
        margin-left: 60%;
    }
    .range-ten > .cell-xl-7 {
        flex-basis: 70%;
        max-width: 70%;
    }
    .range-ten > .cell-xl-preffix-7 {
        margin-left: 70%;
    }
    .range-ten > .cell-xl-8 {
        flex-basis: 80%;
        max-width: 80%;
    }
    .range-ten > .cell-xl-preffix-8 {
        margin-left: 80%;
    }
    .range-ten > .cell-xl-9 {
        flex-basis: 90%;
        max-width: 90%;
    }
    .range-ten > .cell-xl-preffix-9 {
        margin-left: 90%;
    }
    .range-ten > .cell-xl-10 {
        flex-basis: 100%;
        max-width: 100%;
    }
    .range-ten > .cell-xl-preffix-10 {
        margin-left: 100%;
    }
    .range-ten > .cell-xl-1-5 {
        flex-basis: 20%;
        max-width: 20%;
    }
    }
    @media (min-width: 1800px) {
    .range-ten > .cell-xxl-preffix-0 {
        margin-left: 0;
    }
    .range-ten > .cell-xxl-1 {
        flex-basis: 10%;
        max-width: 10%;
    }
    .range-ten > .cell-xxl-preffix-1 {
        margin-left: 10%;
    }
    .range-ten > .cell-xxl-2 {
        flex-basis: 20%;
        max-width: 20%;
    }
    .range-ten > .cell-xxl-preffix-2 {
        margin-left: 20%;
    }
    .range-ten > .cell-xxl-3 {
        flex-basis: 30%;
        max-width: 30%;
    }
    .range-ten > .cell-xxl-preffix-3 {
        margin-left: 30%;
    }
    .range-ten > .cell-xxl-4 {
        flex-basis: 40%;
        max-width: 40%;
    }
    .range-ten > .cell-xxl-preffix-4 {
        margin-left: 40%;
    }
    .range-ten > .cell-xxl-5 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .range-ten > .cell-xxl-preffix-5 {
        margin-left: 50%;
    }
    .range-ten > .cell-xxl-6 {
        flex-basis: 60%;
        max-width: 60%;
    }
    .range-ten > .cell-xxl-preffix-6 {
        margin-left: 60%;
    }
    .range-ten > .cell-xxl-7 {
        flex-basis: 70%;
        max-width: 70%;
    }
    .range-ten > .cell-xxl-preffix-7 {
        margin-left: 70%;
    }
    .range-ten > .cell-xxl-8 {
        flex-basis: 80%;
        max-width: 80%;
    }
    .range-ten > .cell-xxl-preffix-8 {
        margin-left: 80%;
    }
    .range-ten > .cell-xxl-9 {
        flex-basis: 90%;
        max-width: 90%;
    }
    .range-ten > .cell-xxl-preffix-9 {
        margin-left: 90%;
    }
    .range-ten > .cell-xxl-10 {
        flex-basis: 100%;
        max-width: 100%;
    }
    .range-ten > .cell-xxl-preffix-10 {
        margin-left: 100%;
    }
    .range-ten > .cell-xxl-1-5 {
        flex-basis: 20%;
        max-width: 20%;
    }
    }
    /* Column dividings  start cell styles end*/

    .bg-gray-lighter .slider-widget {
        background: #ffffff none repeat scroll 0 0;
    }
    .quote-primary {
        text-align: left;
    }
    .quote-primary .cite {
        color: #ed1c94;
    }
    .quote-primary-text {
        font-size: 18px;
        font-style: italic;
        line-height: 1.55556;
    }
    .quote-primary-mark {
        display: block;
        fill: #981df0;
        flex-shrink: 0;
        height: 27px;
        position: relative;
        top: 6px;
        width: 37px;
    }
    .quote-primary-meta {
        color: #c2c2c3;
        margin-left: -0.2em;
    }
    .quote-primary-meta * {
        padding: 0 0.2em;
    }
    * + .quote-primary-text {
        margin-top: 20px;
    }
    * + .quote-primary-meta {
        margin-top: 15px;
    }
    @media (min-width: 768px) {
    .quote-primary-text {
        font-size: 20px;
    }
    * + .quote-primary-text {
        margin-top: 30px;
    }
    * + .quote-primary-meta {
        margin-top: 20px;
    }
    }
    @media (min-width: 1200px) {
    .quote-primary-text {
        font-size: 24px;
        line-height: 1.41667;
    }
    }
    .quote-minimal {
        padding-left: 30px;
        padding-right: 20px;
    }
    .quote-minimal-text {
        color: #29293a;
        font-size: 18px;
        font-style: italic;
    }
    @media (min-width: 768px) {
    .quote-minimal {
        max-width: 90%;
    }
    .quote-minimal-text {
        font-size: 24px;
    }
    }
    .quote-boxed {
        margin-bottom: -20px;
        margin-left: -30px;
        text-align: left;
        transform: translateY(-20px);
    }
    .quote-boxed > * {
        display: inline-block;
        margin-left: 30px;
        margin-top: 20px;
    }
    .quote-boxed-image {
        border-radius: 50%;
        height: auto;
        width: 100px;
    }
    .quote-boxed-text, .quote-boxed-cite {
        font-size: 18px;
    }
    .quote-boxed-text {
        color: #29293a;
        position: relative;
    }
    .quote-boxed-text::before {
        color: #ed1c94;
        content: "";
        display: inline-block;
        font-family: "Material Design Icons";
        font-size: 45px;
        left: -10px;
        line-height: 0.8;
        position: relative;
        top: -5px;
        transform: scale(-1, -1);
    }
    .quote-boxed-cite {
        color: #981df0;
        font-weight: 400;
    }
    .quote-boxed-small {
        color: #838386;
    }
    .quote-boxed-meta > * + * {
        margin-top: 0;
    }
    * + .quote-boxed-meta {
        margin-top: 10px;
    }
    @media (min-width: 480px) {
    .quote-boxed {
        display: flex;
        flex-direction: row;
    }
    .quote-boxed-aside {
        flex-shrink: 0;
    }
    .quote-boxed-main {
        flex-grow: 1;
    }
    }
    @media (min-width: 768px) {
    .quote-boxed-image {
        width: 160px;
    }
    .quote-boxed-text, .quote-boxed-cite {
        font-size: 20px;
        line-height: 1.41667;
    }
    .quote-boxed-text::before {
        font-size: 60px;
        top: -9px;
    }
    * + .quote-boxed-meta {
        margin-top: 20px;
    }
    }
    @media (min-width: 1200px) {
    .quote-boxed {
        margin-bottom: -30px;
        margin-left: -80px;
        transform: translateY(-30px);
    }
    .quote-boxed > * {
        display: inline-block;
        margin-left: 80px;
        margin-top: 30px;
    }
    .quote-boxed-image {
        width: 210px;
    }
    .quote-boxed-text, .quote-boxed-cite {
        font-size: 24px;
    }
    * + .quote-boxed-meta {
        margin-top: 30px;
    }
    }
    .quote-vertical-image {
        border-radius: 50%;
        height: auto;
        width: 100px;
    }
    .quote-vertical-text {
        color: #29293a;
        position: relative;
    }
    .quote-vertical-text::after {
        color: #ed1c94;
        content: "";
        display: inline-block;
        font-family: "Material Design Icons";
        font-size: 40px;
        line-height: 1;
        margin-top: 10px;
        position: relative;
    }
    .quote-vertical-cite {
        color: #981df0;
        font-weight: 400;
    }
    .quote-vertical-small {
        color: #838386;
    }
    .quote-vertical-meta > * + * {
        margin-top: 0;
    }
    * + .quote-vertical-text {
        margin-top: 15px;
    }
    * + .quote-vertical-meta {
        margin-top: 5px;
    }
    @media (min-width: 480px) {
    .quote-vertical-text, .quote-vertical-cite {
        font-size: 18px;
        line-height: 1.5;
    }
    }
    @media (min-width: 768px) {
    .quote-vertical-text, .quote-vertical-cite {
        font-size: 20px;
        line-height: 1.5;
    }
    .quote-vertical-text::after {
        margin-top: 20px;
    }
    * + .quote-vertical-text {
        margin-top: 25px;
    }
    }
    @media (min-width: 1200px) {
    .quote-vertical-text, .quote-vertical-cite {
        font-size: 24px;
    }
    }
    .quote-classic {
        text-align: left;
    }
    .owl-carousel .item .quote-classic-image {
        border-radius: 50%;
        height: auto;
        width: 70px;
    }
.owl-carousel-widget, .testimonial-counts .owl-stage-outer{
        width: calc(100% - 70px);
    }
    .quote-classic-header {
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-bottom: -20px;
        margin-left: -20px;
        transform: translateY(-20px);
    }
    .quote-classic-header > * {
        display: inline-block;
        margin-left: 20px;
        margin-top: 20px;
    }
    .quote-classic-text {
        color: #29293a;
        font-style: italic;
    }
    .quote-classic-cite {
        color: #981df0;
        font-weight: 400;
    }
    .quote-classic-small {
        color: #838386;
        font-style: italic;
    }
    .quote-classic-meta > * + * {
        margin-top: 0;
    }
    * + .quote-classic-text {
        margin-top: 20px;
    }
    @media (min-width: 480px) {
    .quote-classic-text, .quote-classic-cite {
        font-size: 18px;
        line-height: 1.5;
    }
    }
    @media (min-width: 768px) {
    .quote-classic-text, .quote-classic-cite {
        font-size: 20px;
        line-height: 1.5;
        width: 90%;
    }
    }
    @media (min-width: 1600px) {
    .quote-classic-text, .quote-classic-cite {
        font-size: 24px;
    }
    }
    .quote-modern {
        text-align: left;
    }
    .quote-modern-image {
        border-radius: 50%;
        height: auto;
        width: 80px;
    }
    .quote-modern-footer {
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-bottom: -20px;
        margin-left: -20px;
        transform: translateY(-20px);
    }
    .quote-modern-footer > * {
        display: inline-block;
        margin-left: 20px;
        margin-top: 20px;
    }
    .quote-modern-text {
        color: #29293a;
        font-size: 18px;
        position: relative;
    }
    .quote-modern-text::before {
        color: #ed1c94;
        content: "";
        display: inline-block;
        font-family: "Material Design Icons";
        font-size: 60px;
        font-style: normal;
        left: -10px;
        line-height: 1;
        position: relative;
        transform: scale(-1, -1);
    }
    .quote-modern-cite {
        color: #981df0;
        font-weight: 400;
    }
    .quote-modern-small {
        color: #838386;
    }
    .quote-modern-meta > * + * {
        margin-top: 0;
    }
    * + .quote-modern-text {
        margin-top: 20px;
    }
    * + .quote-modern-footer {
        margin-top: 20px;
    }
    @media (min-width: 768px) {
    .quote-modern-cite, .quote-modern-text {
        font-size: 20px;
        line-height: 1.5;
    }
    }
    @media (min-width: 1600px) {
    .quote-modern-cite, .quote-modern-text {
        font-size: 24px;
    }
    }

    .slick-slider {
        -moz-user-select: none;
        box-sizing: border-box;
        display: block;
        position: relative;
        touch-action: pan-y;
    }
    .slick-list {
        display: block;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: relative;
    }
    .slick-list:focus {
        outline: medium none;
    }
    .slick-list.dragging {
        cursor: pointer;
    }
    .slick-slider .slick-track, .slick-slider .slick-list {
        transform: translate3d(0px, 0px, 0px);
    }
    .slick-track {
        display: block;
        left: 0;
        position: relative;
        top: 0;
    }
    .slick-track::before, .slick-track::after {
        content: "";
        display: table;
    }
    .slick-track::after {
        clear: both;
    }
    .slick-loading .slick-track {
        visibility: hidden;
    }
    .slick-slide {
        display: none;
        float: left;
        min-height: 1px;
    }
    [dir="rtl"] .slick-slide {
        float: right;
    }
    .slick-slide img {
        display: block;
    }
    .slick-slide.slick-loading img {
        display: none;
    }
    .slick-slide.dragging img {
        pointer-events: none;
    }
    .slick-initialized .slick-slide {
        display: block;
    }
    .slick-loading .slick-slide {
        visibility: hidden;
    }
    .slick-vertical .slick-slide {
        border: 1px solid rgba(0, 0, 0, 0);
        display: block;
        height: auto;
    }
    .slick-arrow.slick-hidden {
        display: none;
    }
    .slick-loading .slick-list {
        background: #ffffff url("./../images/ajax-loader.gif") no-repeat scroll center center;
    }
    .slick-prev, .slick-next {
        background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
        border: medium none;
        color: rgba(0, 0, 0, 0);
        cursor: pointer;
        display: block;
        font-size: 0;
        height: 20px;
        line-height: 0;
        outline: medium none;
        padding: 0;
        position: absolute;
        top: 50%;
        transform: translate(0px, -50%);
        width: 20px;
        z-index: 999;
    }
    .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        color: rgba(0, 0, 0, 0);
        outline: medium none;
    }
    .slick-prev:hover::before, .slick-prev:focus::before, .slick-next:hover::before, .slick-next:focus::before {
        opacity: 1;
    }
    .slick-prev.slick-disabled::before, .slick-next.slick-disabled::before {
        opacity: 0.25;
    }
    .slick-prev::before, .slick-next::before {
        color: #ffffff;
        font-size: 20px;
        line-height: 1;
        opacity: 0.75;
    }
    .slick-prev {
        left: 0;
    }
    [dir="rtl"] .slick-prev {
        left: auto;
        right: 0;
    }
    .slick-prev::before {
        content: "←";
    }
    [dir="rtl"] .slick-prev::before {
        content: "→";
    }
    .slick-next {
        right: 0;
    }
    [dir="rtl"] .slick-next {
        left: 0;
        right: auto;
    }
    .slick-next::before {
        content: "→";
    }
    [dir="rtl"] .slick-next::before {
        content: "←";
    }
    .slick-slider {
        margin-bottom: 30px;
    }
    .slick-slider *:focus {
        outline: 0 none;
    }
    .slick-dots {
        display: block;
        font-size: 0;
        line-height: 0;
        list-style: outside none none;
        margin-top: 20px;
        padding: 0;
        text-align: center;
        width: 100%;
        word-spacing: 0;
    }
    .slick-dots li {
        cursor: pointer;
        display: inline-block;
        height: 20px;
        margin: 0 5px;
        padding: 0;
        position: relative;
        width: 20px;
    }
    .slick-dots li button {
        background: #555555 none repeat scroll 0 0;
        border: 0 none;
        border-radius: 100px;
        color: inherit;
        cursor: pointer;
        font: inherit;
        height: 8px;
        outline: medium none;
        overflow: hidden;
        padding: 0;
        position: relative;
        vertical-align: middle;
        white-space: nowrap;
        width: 8px;
    }
    .slick-dots li button:active {
        cursor: wait;
    }
    .slick-dots li.slick-active button, .slick-dots li:hover button {
        background: #981df0 none repeat scroll 0 0;
    }
    .slider-widget {
        background: #ffffff none repeat scroll 0 0;
        border-radius: 9px;
        box-shadow: 0 5px 12px 0 #dcdeec;
        max-width: 100%;
        overflow: hidden;
        width: 100%;
    }
    .slider-widget .slick-slider {
        margin: 0;
    }
    .slider-widget .item > * {
        padding: 20px;
    }
    * + .slider-widget {
        margin-top: 30px;
    }
    .slider-widget-aside, .testimonial-counts .owl-nav {
        align-items: center;
        background: #fa5237;
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        padding: 5px;
        text-align: center;
    }
    .slider-widget-aside .slick-prev, .slider-widget-aside .slick-next {
        background-color: rgba(0, 0, 0, 0);
        color: #ffffff;
        height: auto;
        position: relative;
        top: auto;
        transform: none;
        width: 100%;
    }
    .slider-widget-aside .slick-prev::before, .slider-widget-aside .slick-next::before {
        font-size: 30px;
        opacity: 1;
        transition: all 0.33s ease 0s;
    }
    .slider-widget-aside .slick-prev:hover::before, .slider-widget-aside .slick-next:hover::before {
        color: rgba(255, 255, 255, 0.7);
    }
    .slider-widget-aside .slick-prev::before {
        content: '\f14c';
    }
    
    .slider-widget-aside .slick-next::before {
        content: '\f151';
    }
    .slider-widget-aside .slick-prev + .slick-next {
        margin-top: 5px;
    }
    @media (min-width: 480px) {
    .slider-widget {
        display: flex;
        flex-direction: row;
    }
    .slider-widget .slick-slider {
        width: calc(100% - 70px);
    }
    .slider-widget .slider-widget-aside, .testimonial-counts .owl-nav {
        flex-direction: column;
        padding: 20px 5px;
        width: 70px;
    }
    }
    @media (min-width: 768px) {
    .slider-widget .slick-slider .item > * {
        padding: 30px 40px;
    }
    }
    @media (min-width: 1200px) {
    * + .slider-widget {
        margin-top: 40px;
    }
    }
    .slick-slider[data-vertical="true"] .slick-slide {
        float: none;
        width: 100%;
    }


    
.testimonial-counts .owl-stage-outer, .testimonial-counts .owl-nav {
    float: left;
    height: 100%;
}

.testimonial-counts .owl-nav {
    padding: 0;
    position: relative;
}
.testimonial-counts .owl-nav .owl-prev, .testimonial-counts .owl-nav .owl-next {
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    vertical-align: middle;
}
.testimonial-counts .owl-nav .owl-prev {
    bottom: 70px;
}
.testimonial-counts .owl-nav .owl-next {
    bottom: 5px;
}
.testimonial-counts .owl-nav button span {
    display: inline-block;
    font-size: 0px;
    line-height: 50px;
    min-height: 60px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}
.testimonial-counts .owl-nav::before {
    content: "\f10e";
    font-family: "FontAwesome";
    font-size: 25px;
    padding: 20px 0;
}
.testimonial-counts .owl-carousel .owl-nav button.owl-next span::before {
    content: "\f0a9";
    font-family: "FontAwesome";
    font-size: 35px;
}
.testimonial-counts .owl-carousel .owl-nav button.owl-prev span::before {
    content: "\f0a8";
    font-family: "FontAwesome";
    font-size: 35px;
}
.bg-pattern-dark, .bg-additional-pattern-dark .bg-additional-item {
    background-image: url("../images/bg-pattern-dark.jpg");
    background-repeat: repeat;
}
.bg-image, .bg-additional-image .bg-additional-item {
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.bg-additional-item {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.testimonial-counts .section-lg, .testimonial-counts .section-custom {
    padding-bottom: 80px;
    padding-top: 80px;
}
.testimonial-counts .shell-custom .shell-custom-inner {
    padding: 0 40px;
}
.testimonial-counts .heading-3 {
    font-size: 34px;
    line-height: 1.375;
}
.counter-wrap * + p {
    margin-top: 10px;
}
h3 + p, .heading-3 + p {
    margin-top: 33px;
}
.navbar-default .navbar-nav > li > a b.caret {
    display: none;
}
.nav.navbar-nav {
    letter-spacing: 0.1px;
    padding: 0 35px;
}
.fish-from-anywhere .parallax-text-wrap > h3 {
    color: #fa5237;
    font-family: "BankGothic Lt BT";
    font-size: 38px;
    font-weight: 100;
    line-height: 52px;
}
.fish-from-anywhere .parallax-text-wrap .parallax-text {
     transform: translateX(-50%) translate3d(0px, -21.7194%, 0px);
	 left:50%;
}
.fish-from-anywhere .parallax-text-wrap{ text-align:center;}
.parallax-text {
    bottom: -8px;
    color: #ebecf3;
    font-family: "w sans new bold";
    font-size: 44px;
    left: -25px;
    letter-spacing: -1px;
    line-height: 52px;
}
.top-brands.fish-from-everywhere {
    padding: 3.2em 0;
}

.fish-from-anywhere .title-shadows-outer {
    padding-bottom: 24px;
}


.skdslider .slide-desc h3.s-d-title {
    color: #edffff;
    font-family: "BankGothic Lt BT";
    font-size: 54px;
    font-weight: 100;
    letter-spacing: -5px;
    line-height: 41px;
    text-shadow: 5px 5px 30px #000000, 5px 5px 30px #000000, 5px 5px 30px #000000;
    width: 100%;
}
.skdslider .slide-desc p.s-d-para {
    color: #000000;
    font-family: "W Sans New Book";
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    padding-bottom: 6px;
    padding-top: 6px;
}

.skdslider .slide-desc .slider-button-set {
     display: table;
    float: none;
    margin: 35px auto;
	  max-width: 495px;
    text-align: center;
}
.skdslider .slide-desc .slider-button-set .btn.s-d-read {
    background-color: rgb(250, 82, 55);
	border:2px solid rgb(250, 82, 55);
}
.skdslider .slide-desc .slider-button-set .btn.s-d-read:hover {
	   background-color: rgba(0, 0, 0,0);
	     border:2px solid #ffffff;
		   text-shadow: 5px 5px 5px rgb(0, 0, 0), 5px 5px 5px rgb(0, 0, 0);
		   transition: all 0.5s ease 0s;
}
.skdslider .slide-desc .slider-button-set .btn.s-d-view{
  border:2px solid #ffffff;
  text-shadow: 5px 5px 5px rgb(0, 0, 0), 5px 5px 5px rgb(0, 0, 0);
}
.skdslider .slide-desc .slider-button-set .btn.s-d-view, .skdslider .slide-desc .slider-button-set .btn.s-d-read {
	border-radius: 50px;
    box-shadow: 1px 5px 5px 3px rgba(0, 0, 0, 0.8);
	font-family: "W Sans New Bold";
    letter-spacing: 1px;
    line-height: 58px;
	 color: rgb(255, 255, 255);
	 margin: 0 13px;
    max-width: 205px;
    padding: 0;
    text-transform: uppercase;
}

.skdslider .slide-desc .slider-button-set .btn.s-d-view:hover {
    background-color: rgb(250, 82, 55);
    transition: all 0.5s ease 0s;
}

.fish-from-everywhere .snipcart-thumb > p {
    color: #00264a;
    font-family: "W Sans New Book";
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 33px;
    margin-top: 12px;
	 margin-bottom: 0;
}

.main-products .title-shadows-outer {
    padding: 80px 0 0;
    text-align: center;
}
.main-products .parallax-text {
    font-size: 65px;
    left: 50%;
    letter-spacing: 10px;
    line-height: 52px;
    transform: translateX(-50%) translate3d(0px, -21.7194%, 0px);
}
.about-us .parallax-text, .testimonials .parallax-text, .milestones .parallax-text{
 font-size: 65px;
 letter-spacing: 10px;
 line-height: 52px;
}
.milestones .parallax-text{
	 color: #313043;
    left: 50%;
    transform: translateX(-50%) translate3d(0px, -15.4711%, 0px);
	}
.main-products .parallax-text-wrap > h3, .about-us .parallax-text-wrap > h3, .testimonials .parallax-text-wrap > h3, .milestones .parallax-text-wrap > h3   {
    color: #fa5237;
    font-family: "BankGothic Lt BT";
    font-size: 35px;
    font-weight: 100;
    line-height: 25px;
    text-transform: uppercase;
}

.testimonial-counts .milestones .section-lg {
   padding-top: 65px;
   padding-bottom:0;
}

.milestones .parallax-text-wrap > h3 { color: #ffffff;    letter-spacing: 6px;    top: 10px;}
.testimonials .parallax-text-wrap > h3{   color: #00264a;
    letter-spacing: 0.5px;
    top: 15px;}
.main-products .product-section {
    padding-top: 38px;
}
.main-products .product-section {
    padding-top: 38px;
	   padding-bottom: 15px;
}
.main-products .product-section .product-box h3 {
    color: #222222;
    font-family: "W Sans New Book";
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.9px;
    line-height: 24px;
    top: 22px;
}
.main-products .product-section .product-box button.btn-style-1:hover {
    background-color: #225;
	  transition: all 0.5s ease 0s;
}
.main-products .product-section .product-box button.btn-style-1 {
	  transition: all 0.5s ease 0s;
    background-color: #fa5237;
    border-radius: 50px;
    color: #ffffff;
    font-family: "w sans new bold";
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 41px;
    max-width: 144px;
    padding: 0;
    position: absolute;
    right: 10px;
    text-align: center;
    text-transform: uppercase;
    top: 10px;
    width: 100%;
    z-index: 9;
}


.varieties-section .shell.shell-bigger {
    padding: 80px 0;
}
.varieties-section .panel-title > a {
    color: #00264a;
    font-family: "BankGothic Lt BT";
    font-size: 24px;
    letter-spacing: -0.5px;
    line-height: 22px;
    padding: 0;
    text-transform: uppercase;
}
.varieties-section .panel.panel-custom.panel-corporate {
    border: 0 none;
    padding: 25px;
}
.varieties-section .panel-group .panel-heading + .panel-collapse > .panel-body {
    border: medium none;
    padding: 0;
}
.varieties-section .panel-heading {
    padding:0px 0 0px 5px;
}
.varieties-section .panel-collapse {
  /*  padding: 14px 0 5px;*/
}
.varieties-section .panel-group .panel-heading + .panel-collapse > .panel-body p, .varieties-section .panel-group .panel-heading + .panel-collapse > .panel-body {
    color: #666666;
    font-family: "W Sans New Book";
    font-size: 14px;
    letter-spacing: -0.1px;
    line-height: 26px;
    max-width: 442px;
    text-align: justify;
    width: 100%;
	 padding-top: 10px;
}
.varieties-section .panel-group .panel + .panel {
    margin-top: 20px;
}
.varieties-section .panel-group.panel-group-custom.panel-group-corporate {
    margin-bottom: 6px;
}
.varieties-section .col-sm-9.col-md-6.col-xl-4 {
    padding-left: 0;
}
.varieties-section .d3-chart-wrap > img {
    height: 102%;
    width: 102%;
}
.about-us .divider.divider-left.divider-default {
    border-color: #00264a;
    border-width: 3px;
    max-width: 99px;
}
.about-us .parallax-text-wrap > h3 {
    letter-spacing: 1px;
    top: 5px;
}
.about-us {
    padding: 92px 0 10px;
}
.who-we-are .title {
    color: #010101;
    font-family: "W Sans New Bold";
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.8px;
    line-height: 30px;
    padding-bottom: 18px;
    padding-top: 5px;
}
.who-we-are .col-sm-12 {
    padding: 0;
}
.about-us .who-we-are {
    padding: 0;
}
.about-us .who-we-are-para {
    color: #666666;
    font-family: "W Sans New Book";
    font-size: 14px;
    letter-spacing: -0.2px;
    line-height: 26px;
    text-align: justify;
}
.about-us .read-more .read-text {
    border: 2px solid #666666;
    border-radius: 50px;
    color: #666666;
    display: block;
    font-family: "W Sans New Bold";
    font-size: 16px;
    line-height: 59px;
    margin: 30px 0 0;
    max-width: 206px;
    text-align: center;
    width: 100%;
}
.about-us .read-more .read-text:hover {
    background-color: #00264a;
    color: #ffffff;
	border-color: #00264a;
}
.testimonials .parallax-text-wrap {
    text-align: center;
}
.testimonials .parallax-text {
	   letter-spacing: 8px;
    left: 50%;
    transform: translateX(-50%) translate3d(0px, -15.4711%, 0px);
}

.testimonials .divider.divider-default {
    border-color: #00264a;
    border-width: 3px;
    margin-left: 20px;
    margin-top: 48px;
    max-width: 99px;
}
.testimonials .divider.divider-default + .slider-widget {
    margin-top: 46px;
}

.testimonials .date.pull-right {
    color: #666666;
    float: right;
    font-family: "W Sans New Book";
    font-size: 14px;
    line-height: 24px;
    margin-right: 34px;
    position: relative;
    top: -40px;
}

.testimonials .quote-classic-cite, .testimonials .quote-classic-small {
    color: #00264a;
    font-family: "W Sans New Book";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.testimonials .quote-classic-meta {
    width: 70%;
}

.testimonials .quote-classic-text > p {
    color: #666666;
    font-family: "w sans new book";
    font-size: 14px;
    line-height: 26px;
    max-width: 450px;
    text-align: justify;
}

.milestones .counter-wrap i.fa {
    color: #fa5237;
    font-size: 28px;
}
.testimonial-counts .milestones .heading-3 {
    color: #ffffff;
    font-family: "w sans new bold";
    font-size: 36px;
    letter-spacing: 0;
    line-height: 38px;
    margin-top: 15px;
}
.milestones .counter-wrap > p {
    color: #ffffff;
    font-family: "W Sans New Book";
    margin: 0;
    text-transform: uppercase;
}
.milestones .counter-wrap {
    padding: 40px 0;
}
.milestones .range.range-120 {
    margin-top: 45px;
}
.footer .about-para {
    color: #ffffff;
    font-family: "W Sans New Book";
    font-size: 14px;
    line-height: 23px;
    padding: 25px 0;
    text-align: justify;
}

.footer .about-para {
    color: #ffffff;
    font-family: "W Sans New Book";
    font-size: 14px;
    line-height: 23px;
    padding: 25px 0;
    text-align: justify;
}
.footer ._footer_grid > h3 {
    font-family: "bankgothic lt bt";
    font-size: 35px;
    font-weight: 300;
    line-height: 36px;
      margin: 0 0 7px;
    text-transform: uppercase;
}
.footer ._footer_grid .info a {
    background-image: url("../images/diamond.png");
    background-position: left center;
    background-repeat: no-repeat;
    color: #ffffff;
    font-family: "W Sans New Book";
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    padding-left: 25px;
}

._footer_grid .info.col-sm-6 {
    max-width: 200px;
    padding: 0;
    width: 100%;
}
.footer ._footer_grid .row {
    margin: 0;
}
._footer_grid .info.col-sm-6:first-child {
    max-width: 150px;
}

._footer_grid ul.address li a {
    color: #ffffff;
    display: block;
    float: right;
    font-family: "w sans new book";
    font-weight: 300;
    width: auto;
}
._footer_grid ul .address > li {
    margin-bottom: 20px;
}
._footer_grid ul.address > li {
    color: #ffffff;
    margin-bottom: 30px;
}
.footer-botm .footer-copy.col-sm-3 {
    padding: 0;
}
.footer-botm .layouts-foot ul li a {
    padding: 0 10px;
}

.footer-botm .layouts-foot ul li a {
    padding: 0 10px;
}
.footer-botm .payment-ls .img-responsive {
    display: inline-block;
}
#PPMiniCart {
    z-index: 10;
}
.testimonials .owl-dots {
    display: none;
}

@media only screen and (min-width: 1025px)   and (max-width: 1200px) {
.l_offers {    width: 57%;}
.l_offers p {    font-size: 12px; margin: 5px 0;}
.agile-login {    width: 39%;}
.agile-login ul li {    padding: 0 0.1em;}
.logo_products {    padding: 20px 0 0;}
.product_list_header {    padding: 12px 0;    width: 15%;}
.search-icon {     width: 55%;}
.navbar-nav > li {     margin-left: 14px;}
.navbar-default .navbar-nav > li > a {    font-size: 11px;}
.parallax-text {    font-size: 39px;}
.fish-from-anywhere .parallax-text-wrap > h3 {    font-size: 34px;}
.product-section .product-box::after {    left: 32px;}
.footer-copy p {    font-size: 13px;}
.footer-botm .layouts-foot ul li a {    padding: 0 5px;}
.layouts-foot img {
    max-width: 39px;
}

}
@media only screen and (min-width: 992px)   and (max-width: 1225px) {
.testimonials .quote-classic-text > p {
    width: 95%;
}
}

@media only screen and (min-width: 768px)   and (max-width: 1024px) {
.agile-login {    width: 46%;}
.l_offers {    width: 53%;}
.agileits_header, .agile-login ul li a i {    line-height: normal;}
.l_offers p {   line-height: 24px;}
.l_search {
     left: -20px;
     top: 6px;
 }
.product_list_header {
     max-width: 125px;
    padding: 0;
    width: 16%;
}
.logo_products {
    padding: 27px 0 0;
}
.search-icon {
    max-width: 45%;
}
.navigation-agileits .container {
    padding: 0;
}
.navbar-default .navbar-nav > li > a {
    font-size: 12px;
	  padding-right: 5px !important;
}
.navigation-agileits .nav.navbar-nav {
     padding: 0 0px;
}
.view-cart {    font-size: 12px;}
.view-cart > img {    width: 17px;}
.skdslider .slide-desc .slider-button-set .btn.s-d-view, .skdslider .slide-desc .slider-button-set .btn.s-d-read {
    font-size: 10px;
    letter-spacing: 1px;
    line-height: normal;
    margin: 0 3px;
     max-width: 45%;
    padding: 8px 0;
    width: 100%;
}
.skdslider .slide-desc p.s-d-para {
    font-size: 10px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 5px;
    padding-bottom: 1px;
    padding-top: 1px;
}
.skdslider .slide-desc h3.s-d-title {
    font-size: 16px;
    font-weight: 100;
    letter-spacing: -1px;
    line-height: normal;
    padding: 0;
    width: 100%;
}

.skdslider .slides .slide-desc {
    padding: 0 0 15px;
}
.skdslider .slide-desc .slider-button-set {
    display: table;
    float: none;
    margin: 5px auto;
    max-width: 495px;
    text-align: center;
}
.parallax-text {
   font-size: 29px;
    letter-spacing: 0;
}

.layouts-foot img {
    margin: 5px 0;
    max-width: 35px;
}
.footer-copy p {
    line-height: 25px;
    margin: 20px 0;
}
.fish-from-anywhere .parallax-text-wrap > h3 {
    font-size: 25px;
}
.fish-from-everywhere .snipcart-thumb > p {    font-size: 15px;}
.product-section .product-box::after {    content: none;}
.varieties-section .panel-group .panel-heading + .panel-collapse > .panel-body p, .varieties-section .panel-group .panel-heading + .panel-collapse > .panel-body{
	width:94%;
}

.varieties-section .col-sm-9.col-md-6 {
    float: none;
    margin: 0 auto;
}
.varieties-section .panel-title > a {
    font-size: 23px;
}

.about-us .image-wrap {
    width: 100%;
}
.main-products .parallax-text-wrap > h3, .about-us .parallax-text-wrap > h3, .testimonials .parallax-text-wrap > h3, .milestones .parallax-text-wrap > h3 {
    font-size: 29px;}
.about-us .parallax-text, .testimonials .parallax-text, .milestones .parallax-text {    font-size: 45px;}
}
@media (max-width:767px){
.l_offers p {
    font-size: 12px;
    line-height: 15px;
    margin: 10px 0 0;
}	
.ls_logo_products_left img {
    max-width: 100%;
}
.agile-login {
    text-align: center;  line-height: normal;
}
.agile-login ul li a, .agile-login ul li a i {
    font-size: 11px; line-height: normal;
}
.ls_logo_products_left {
    width: 80%;
	 margin: 0;
}
.l_search {
      background-color: #00264a;
    left: -12px;
    top: 60px;
    z-index: 10;
}
.logo_products {
    padding: 10px 0 0;
}

.navigation-agileits {
    position: relative;
	 background-color: rgba(0, 0, 0, 0);
    top: -50px;
}
.product_list_header {    float: left;}
.navbar-collapse {    background-color: #00264a;    width: 100%;}
.navigation-agileits .container {
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    z-index: 9;
}

.navbar-header .navbar-toggle {
    max-width: 45px;
    min-width: 45px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
}
.navbar-header.nav_2 {
    position: relative;
}
.navbar.navbar-default .navbar-collapse {
    bottom: -50px;
    left: -40px;
    position: relative;
    width: 120%;
}

.skdslider .slide-desc .slider-button-set .btn.s-d-view, .skdslider .slide-desc .slider-button-set .btn.s-d-read {
    font-size: 10px;
    letter-spacing: 1px;
    line-height: normal;
    margin: 0 3px;
     max-width: 45%;
    padding: 8px 0;
    width: 100%;
}
.skdslider .slide-desc p.s-d-para {
    font-size: 10px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 5px;
    padding-bottom: 1px;
    padding-top: 1px;
}
.skdslider .slide-desc h3.s-d-title {
    font-size: 16px;
    font-weight: 100;
    letter-spacing: -1px;
    line-height: normal;
    padding: 0;
    width: 100%;
}

.skdslider .slides .slide-desc {
    padding: 0 0 15px;
}
.skdslider .slide-desc .slider-button-set {
    display: table;
    float: none;
    margin: 5px auto;
    max-width: 495px;
    text-align: center;
}
.fish-from-anywhere .parallax-text-wrap > h3 {
     font-size: 18px;
     line-height: normal;
}
.fish-from-everywhere .snipcart-thumb > p {
    font-size: 14px;
    line-height: normal;
	   margin-bottom: 15px;
}
.col-md-2_5 {
    width: 50%;
	  text-align: center;
}
.view-cart > img {
    margin-top: -5px;
    max-width: 15px;
}
.main-products .parallax-text-wrap > h3, .about-us .parallax-text-wrap > h3, .testimonials .parallax-text-wrap > h3, .milestones .parallax-text-wrap > h3 {
    font-size: 22px;}
.product-section .product-box::after { border:none;}
.main-products .product-section .product-box h3 {
    font-size: 14px;
}
.main-products .product-section .product-box button.btn-style-1 {
    font-size: 13px;
    line-height: 31px;
    max-width: 114px;
}
.varieties-section .panel.panel-custom.panel-corporate {
    padding: 10px;
}
.varieties-section .panel-group .panel-heading + .panel-collapse > .panel-body p, .varieties-section .panel-group .panel-heading + .panel-collapse > .panel-body {
    font-size: 14px;
    line-height: 26px;
    max-width: 164px;
    padding-top: 10px;
}
.panel-corporate .panel-arrow::before, .panel-corporate .panel-arrow::after, .panel-corporate .panel-arrow .material-icons {
    top: 8px;}
.varieties-section .panel-title > a {
      display: block;
    font-size: 18px;
     max-width: 80%;
}
.panel-corporate .panel-arrow {
    width: 40px;
}
.varieties-section .panel-group .panel-heading + .panel-collapse > .panel-body p, .varieties-section .panel-group .panel-heading + .panel-collapse > .panel-body {
    max-width: 93%;
}
.about-us .range {
    display: block;
}
.about-us .image-wrap {
    margin: 20px 0;
    width: 100%;
}
.about-us .read-more .read-text {
    font-size: 16px;
    line-height: 45px;
    margin: 10px auto;
    max-width: 180px;
}
.testimonial-counts .owl-nav::before {
    display: none;
}
.owl-carousel-widget, .testimonial-counts .owl-stage-outer {
    width: calc(100% - 0px);
}
.testimonial-counts .owl-nav .owl-prev, .testimonial-counts .owl-nav .owl-next{ position:static;  transform: none;}
.testimonials .date.pull-right {
     float: left !important;
    font-size: 14px;
    top: 0;
}
.testimonial-counts .owl-stage-outer, .testimonial-counts .owl-nav {
     flex-direction: row;
    height: auto;
    width: 100%;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: inherit;
    font: inherit;
    padding: 0;
}
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-dot {
    -moz-user-select: none;
    cursor: pointer;
}
.testimonial-counts .owl-nav .owl-prev {
    bottom: 70px;
}
.testimonial-counts .owl-nav .owl-prev, .testimonial-counts .owl-nav .owl-next {
    left: 50%;
    text-align: center;
    transform: none;
    vertical-align: middle;
}
.product-section::before {
    width: auto;
}

.footer-copy p {
    text-align: center;
}
.layouts-foot img {
    max-width: 28px;
}
.footer-botm .layouts-foot ul li a {
    padding: 0 2px;
}
.layouts-foot {
      margin-bottom: 10px;
    text-align: center;
    width: 100%;
}
.payment-ls {
    display: table;
    float: none;
    text-align: center;
    width: 100%;
}
.milestones .counter-wrap {
    padding: 10px 0;
}
.payment-ls .img-responsive {
    max-width: 230px;
}
.main-products .col-md-4.col-sm-6 {
    margin: 0 auto;
    max-width: 350px;
}
.footer ._footer_grid > h3 {
    font-size: 26px;
}
.testimonials .divider.divider-default{
	text-align:center;
}
.testimonials .divider.divider-default{   margin: 25px auto 0; text-align: center;}
}
@media only screen and (min-width: 599px)   and (max-width: 1024px) {
.skdslider .slide-desc .slider-button-set .btn.s-d-view, .skdslider .slide-desc .slider-button-set .btn.s-d-read {
    font-size: 14px;
    margin: 0 3px;
    max-width: 45%;
    padding: 8px 0;
}
.skdslider .slide-desc h3.s-d-title {
    font-size: 25px;
    margin: 0 0 15px;
}
.skdslider .slide-desc p.s-d-para {
     font-size: 13px;
     line-height: normal;
    margin-bottom: 15px;
}
}


#horizontalTab .resp-tabs-container { background:transparent; }
#horizontalTab ul li.resp-tab-active { background:transparent; }
#owl_carousel_product .owl-next   {     background: #fa5237a6 !important; }
#owl_carousel_product .owl-prev   {     background: #fa5237a6 !important; }

.cart-color{
 color:white;
 
}
.cart-color:hover{
 color:white;
}
